@import "baseColor";
@import "variables";
@import "scrollbarThumb";

html {
    scroll-behavior: smooth;
    font-size: $basic-font-size;
}
body {
    font-family: "Outfit", $basic-font-family;
    line-height: $basic-line-height;
    color: $textColor;
    background-color: $backgroundColor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    place-content: center;
    background-color: $linkColor;
    padding: 16px;
    border-bottom: 3px solid $navLinksColor;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition:
        transform 0.35s ease-in-out,
        background-color 0.6s ease-in-out;
    will-change: transform;

    &.nav-hidden {
        transform: translateY(-150px);
        background-color: rgba(255, 255, 255, 0.4);
    }
    & .nav-logo {
        display: flex;
        align-items: center;
        margin: 16px;
        cursor: default;

        & .logo-navbar {
            display: block;
            max-width: 100%;
            width: 80px;
            height: auto;
            outline: 1px solid $backgroundColor;
        }
    }
    & span {
        color: $navLinksColor;
        margin: 0 16px;
        font-size: $paragraph-font-size;
    }
}
.header-start-page {
    display: flex;
    align-items: center;
    margin-top: 200px;
    padding-left: 200px;
    padding-bottom: 75px;
    border-bottom: 3px solid $textColor;
    gap: 100px;

    & h1 {
        font-size: $title-font-size;
    }
    & .logo-title {
        display: block;
        max-width: 100%;
        width: 410px;
        height: auto;
    }
}
.background {
    position: fixed;
    inset: 0;
    background-image: url("../img/png/Morpion_Fond_Ecran.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(5px);
}
.start-body {
    text-align: center;
    margin: 0 150px;
    padding-bottom: 60px;

    & h2 {
        font-size: $subtitle-font-size;
        margin-top: 70px;
    }
    & p {
        font-size: $paragraph-font-size;
        margin-bottom: 70px;
    }
    & a {
        font-size: $paragraph-font-size;
        display: inline-block;
        text-decoration: none;
        color: $buttonTextColor;
        background-color: $backgroundBtnColor;
        cursor: pointer;
        padding: 16px 20px;
        border: 3px solid $borderBtnColor;
        border-radius: $borderRadius;
        transform: scale(1);
        transition:
            background 0.5s,
            color 0.5s ease-in-out,
            border-color 0.5s ease-in-out,
            transform 0.5s ease-in-out;

        &:hover {
            background: $buttonTextColor;
            color: $backgroundBtnColor;
            border-color: $backgroundBtnColor;
            transform: scale(1.05);
        }
        &:focus {
            outline: $navLinksColor;
            box-shadow: 0 0 0 3px lighten($color: $navLinksColor, $amount: 20%);
        }
    }
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
    border-top: 3px solid $textColor;
    background-color: $buttonTextColor;

    & .rights {
        margin: 32px 0;
        font-size: $paragraph-font-size;
        font-weight: bold;
    }
}
@media (prefers-reduced-motion: reduce) {
    * {
        transition: none;
        scroll-behavior: auto;
    }
}
