$backgroundColor: #001B2E;
$textColor: #FFFDED;
$navLinksColor: #294C60;
$linkColor: #FFEFD3;
$secondLinkColor: #FFC49B;
$backgroundBtnColor: #FFEFD3;
$buttonTextColor: #252422;
$borderBtnColor: #2F2D2E;
$selectorColor: #ADB6C4;