//Main variables for the project

$basic-font-size: 18px; /* Basic size for all text elements */
$title-font-size: 2rem; /* Size for <h1> titles */
$subtitle-font-size: 1.7rem; /* Size for <h2> titles */
$third-font-size: 1.5rem; /* Size for <h3> titles */
$paragraph-font-size: 1.2rem; /*Size for <p> elements */
$basic-line-height: 1.4;
$borderRadius: 16px; /* Basic border radius for buttons, containers, links backgrounds, etc */
$basic-font-family: Tahoma, Geneva, Verdana, sans-serif; /* Basic and imported font family for all text elements */