@import 'baseColor';
@import 'variables';

* {
  scrollbar-color: rgba(255,255,255,0.5) transparent;
}
::selection {
    background-color: $selectorColor;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

html {
    scroll-behavior: smooth;
    font-size: $basic-font-size;
}
body {
    font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: $basic-line-height;
    color: $textColor;
    background: $backgroundColor;
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    align-items: center;
    background: $linkColor;
    padding: 16px;
    border-bottom: 3px solid $navLinksColor;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: transform 0.35s ease-in-out, background-color 0.6s ease-in-out;
    will-change: transform;

    &.nav-hidden {
        transform: translateY(-150px);
        background-color: rgba(255, 255, 255, 0.4);
    }

    & .nav-logo {
        display: flex;
        align-items: center;
        margin: 16px;
        cursor: default;

        & .logo-navbar {
            max-width: 100%;
            width: 50px;
            height: auto;
        }
    }
    & span {
        color: $navLinksColor;
        margin: 0 16px;
    }
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;

        & li {
            & a {
                display: block;
                text-decoration: none;
                color: $navLinksColor;
                margin: 0 16px;
                padding: 16px;
                transform: scale(1);
                transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out;
                border-radius: $borderRadius;

                &:hover {
                    background-color: $navLinksColor;
                    color: $linkColor;
                    transform: scale(1.1);
                }
                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 3px lighten($color: $navLinksColor, $amount: 20%);
                }
            }
        }
    }
}

.header-start-page {
    display: flex;
    align-items: center;
    margin-top: 10vh;
    padding: 10vh 12vw;

    & h1 {
        font-size: clamp($title-font-size, 3.5vw, 4rem);
        margin-left: 10%;
    }
    & .logo-title {
        max-width: 100%;
        width: 410px;
        height: auto;
    }
}

hr {
    border: 3px solid $textColor;
    margin-top: 20px;
}

.background-image {
    position: fixed;
    top: 7vh;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.4;
    filter: blur(5px);
}

.start-body {
    text-align: center;
    margin: 10vh 10vw;

    & h2 {
        font-size: clamp($subtitle-font-size, 2.5vw, 3rem);
        margin-bottom: 32px;
    }
    & p {
        font-size: clamp($paragraph-font-size, 1.5vw, 1.8rem);
    }
}

.mods-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 70px;
    margin: 10vh 2vw;
    justify-content: space-evenly;
    
    & .card-mode {
        display: flex;
        flex-direction: column;
        border: 3px solid $linkColor;
        border-radius: $borderRadius;
        background-color: $backgroundColor;
        text-align: center;

        & h3 {
            font-size: $third-font-size;
        }
        & p {
            font-size: clamp($paragraph-font-size, 1.5vw, 1.8rem);
        }
        & .not-available {
            text-decoration: underline;
            font-weight: bold;
        }
        & a {
            margin: 20px 8vw;
            padding: 16px 20px;
            background: $backgroundBtnColor;
            text-decoration: none;
            color: $buttonTextColor;
            border: 3px solid $backgroundBtnColor;
            border-radius: $borderRadius;
            transform: scale(1);
            transition: background 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out;

            &:hover {
                background: $buttonTextColor;
                color: $backgroundBtnColor;
                border-color: $backgroundBtnColor;
                transform: scale(1.1);
            }
            &:focus {
                outline: none;
                box-shadow: 0 0 0 3px lighten($color: $navLinksColor, $amount: 20%);
            }
        }
        & span {
            &:not(.not-available) {
                background-color: $linkColor;
                margin: 20px 8vw;
                padding: 16px 20px;
                color: $buttonTextColor;
                border-radius: $borderRadius;
                border: 3px solid $backgroundBtnColor;
                cursor: default;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    padding: 5vh 0;
    border-top: 4px solid $textColor;
    background-color: $buttonTextColor;
    text-align: center;

    & .rights {
        margin: 32px 0;
        font-weight: bold;
    }
    & a {
        text-decoration: none;
        color: $linkColor;
        margin: 12px auto;

        &:link {
            color: $linkColor;
        }
        &:visited {
            color: $secondLinkColor;
        }
        &:hover {
            color: $linkColor;
        }
        &:active {
            color: $secondLinkColor;
        }
    }
}