@import "baseColor";
@import "variables";
@import "scrollbarThumb";

html {
    scroll-behavior: smooth;
    font-size: $basic-font-size;
}
body {
    font-family: "Outfit", $basic-font-family;
    line-height: $basic-line-height;
    color: $textColor;
    background: $backgroundColor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}
nav {
    display: flex;
    align-items: center;
    background: $linkColor;
    padding: 16px;
    border-bottom: 3px solid $navLinksColor;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition:
        transform 0.35s ease-in-out,
        background-color 0.6s ease-in-out;
    will-change: transform;

    &.nav-hidden {
        transform: translateY(-150px);
        background-color: rgba(255, 255, 255, 0.4);
    }
    & .nav-logo {
        display: flex;
        align-items: center;
        margin: 16px;
        cursor: default;

        & .logo-navbar {
            max-width: 100%;
            width: 80px;
            height: auto;
            outline: 1px solid $backgroundColor;
        }
    }
    & span {
        font-size: $paragraph-font-size;
        color: $navLinksColor;
        margin: 0 16px;
    }
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;

        & li {
            & a {
                font-size: $paragraph-font-size;
                display: block;
                text-decoration: none;
                color: $navLinksColor;
                margin: 0 16px;
                padding: 16px;
                transform: scale(1);
                transition:
                    background-color 0.5s ease-in-out,
                    color 0.5s ease-in-out,
                    transform 0.5s ease-in-out;
                border-radius: $borderRadius;

                &:hover {
                    background-color: $navLinksColor;
                    color: $linkColor;
                    transform: scale(1.05);
                }
                &:focus {
                    outline: none;
                    box-shadow: 0 0 0 3px
                        lighten($color: $navLinksColor, $amount: 20%);
                }
            }
        }
    }
}
.header-start-page {
    display: flex;
    align-items: center;
    margin-top: 200px;
    padding-left: 200px;
    padding-bottom: 75px;
    border-bottom: 3px solid $textColor;
    gap: 100px;

    & h1 {
        font-size: $title-font-size;
    }
    & .logo-title {
        max-width: 100%;
        width: 410px;
        height: auto;
    }
}
.background {
    position: fixed;
    inset: 0;
    background-image: url("../img/png/Morpion_Fond_Ecran.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(5px);
}
.start-body {
    text-align: center;
    padding: 35px 150px;

    & h2 {
        font-size: $subtitle-font-size;
    }
    & p {
        font-size: $paragraph-font-size;
    }
}
.mods-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 140px;
    margin: 70px 180px;
    place-content: center;

    & .card-mode {
        display: flex;
        flex-direction: column;
        border: 3px solid $linkColor;
        border-radius: $borderRadius;
        background-color: $backgroundColor;
        text-align: center;

        & h3 {
            font-size: $third-font-size;
        }
        & p {
            font-size: $paragraph-font-size;
        }
        & .not-available {
            text-decoration: underline;
            font-weight: bold;
        }
        & a {
            font-size: $paragraph-font-size;
            margin: 20px 100px;
            padding: 16px 20px;
            background: $backgroundBtnColor;
            text-decoration: none;
            color: $buttonTextColor;
            border: 3px solid $backgroundBtnColor;
            border-radius: $borderRadius;
            transform: scale(1);
            transition:
                background 0.5s ease-in-out,
                color 0.5s ease-in-out,
                border-color 0.5s ease-in-out,
                transform 0.5s ease-in-out;

            &:hover {
                background: $buttonTextColor;
                color: $backgroundBtnColor;
                border-color: $backgroundBtnColor;
                transform: scale(1.05);
            }
            &:focus {
                outline: $navLinksColor;
                box-shadow: 0 0 0 3px
                    lighten($color: $navLinksColor, $amount: 20%);
            }
        }
        & span {
            &:not(.not-available) {
                font-size: $paragraph-font-size;
                background-color: $linkColor;
                margin: 20px 100px;
                padding: 16px 20px;
                color: $buttonTextColor;
                border-radius: $borderRadius;
                border: 3px solid $backgroundBtnColor;
                cursor: default;
            }
        }
    }
}
footer {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    border-top: 3px solid $textColor;
    background-color: $buttonTextColor;

    & .rights {
        font-size: $paragraph-font-size;
        text-align: center;
        margin: 32px;
        font-weight: bold;
    }
    & a {
        font-size: $paragraph-font-size;
        text-decoration: none;
        color: $linkColor;
        margin: 32px auto;
        transition: color 0.5s ease-in-out;
        
        &:hover {
            color: $secondLinkColor;
            text-decoration: underline;
        }
    }
}
