@import "variables";
@import "baseColor";
@import "scrollbarThumb";

html {
    scroll-behavior: smooth;
    font-size: $basic-font-size;
}
body {
    font-family: "Outfit", $basic-font-family;
    line-height: $basic-line-height;
    color: $textColor;
    background-color: $backgroundColor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-button {
    display: none;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: $navLinksColor;
    font-size: $paragraph-font-size;
    margin-left: auto;
    margin-right: 32px;
}
nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: $linkColor;
    padding: 16px;
    border-bottom: 3px solid $navLinksColor;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    transition:
        transform 0.35s ease-in-out,
        background-color 0.6s ease-in-out;
    will-change: transform;

    &.nav-hidden {
        transform: translateY(-150px);
        background-color: rgba(255, 255, 255, 0.4);
    }
    & .nav-logo {
        display: flex;
        align-items: center;
        margin: 16px;
        cursor: default;

        & .logo-navbar {
            display: block;
            max-width: 100%;
            width: 80px;
            height: auto;
            outline: 1px solid $backgroundColor;
        }
    }
    & span {
        font-size: $paragraph-font-size;
        color: $navLinksColor;
        margin: 0 16px;
    }
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        
        &.nav-open {
            display: flex;
            flex-direction: column;
        }
        & li {
            & a {
                font-size: $paragraph-font-size;
                display: block;
                text-decoration: none;
                color: $navLinksColor;
                margin: 0 16px;
                padding: 16px;
                transform: scale(1);
                transition:
                    background-color 0.5s ease-in-out,
                    color 0.5s ease-in-out,
                    transform 0.5s ease-in-out;
                border-radius: $borderRadius;

                &:hover {
                    background-color: $navLinksColor;
                    color: $linkColor;
                    transform: scale(1.05);
                }
                &:focus {
                    outline: $navLinksColor 2px solid;
                    box-shadow: 0 0 0 2px
                        lighten($color: $navLinksColor, $amount: 20%);
                }
            }
        }
    }
}
.header-start-page {
    display: flex;
    align-items: center;
    margin-top: 200px;
    padding-left: 200px;
    padding-bottom: 75px;
    border-bottom: 3px solid $textColor;
    gap: 100px;

    & h1 {
        font-size: $title-font-size
    }
    & .logo-title {
        display: block;
        max-width: 100%;
        width: 410px;
        height: auto;
    }
}
.start-body-button {
    display: inline-block;
    font-size: $paragraph-font-size;
    background-color: $backgroundBtnColor;
    color: $buttonTextColor;
    text-decoration: none;
    border: 3px solid $borderBtnColor;
    border-radius: $borderRadius;
    padding: 16px 20px;
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 30px;
    transform: scale(1);
    transition:
        background-color 0.5s ease-in-out,
        color 0.5s ease-in-out,
        transform 0.5s ease-in-out,
        border-color 0.5s ease-in-out;

    &:hover {
        background-color: $borderBtnColor;
        color: $backgroundBtnColor;
        border-color: $backgroundBtnColor;
        transform: scale(1.05);
    }
    &:focus {
        outline: $selectorColor 2px solid;
        box-shadow: 0 0 0 3px lighten($color: $selectorColor, $amount: 20%);
    }
    &.start-body-hidden {
        transform: translateX(200%);
    }
}
.download-elements {
    @extend .start-body-button;
    right: calc(30px + 210px);
    
    &.download-elements-hidden {
        transform: translateX(65%);
    }
}
.background {
    position: fixed;
    inset: 0;
    background-image: url("../img/png/Morpion_Fond_Ecran.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(5px);
}
.start-body {
    border-bottom: 3px solid $textColor;
    text-align: center;
    padding: 35px 150px;

    & h2 {
        font-size: $subtitle-font-size;
    }
    & p {
        font-size: $paragraph-font-size;
        padding-bottom: 35px;
    }
}
.middle-body {
    border-bottom: 3px solid $textColor;
    padding-bottom: 64px;
    
    & h2 {
        font-size: $subtitle-font-size;
        padding: 32px 0;
        text-align: center;
    }
    & .assets-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
    }
    & figure {
        align-content: center;
        text-align: center;
        font-size: $paragraph-font-size;
        
        &:is(:nth-child(2), :nth-child(10)) {
            & img {
                width: 90%;
                height: auto;
            }
        }

        & img {
            border: 1px solid $textColor;
            background-color: $textColor;
            width: 45%;
            height: auto;
        }
    }
}
.download-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;

    & a {
        display: inline-block;
        font-size: $paragraph-font-size;
        background-color: $backgroundBtnColor;
        color: $buttonTextColor;
        text-decoration: none;
        border: 3px solid $backgroundBtnColor;
        border-radius: $borderRadius;
        padding: 16px 20px;
        margin-bottom: 64px;
        transform: scale(1);
        transition:
            background-color 0.5s ease-in-out,
            border-color 0.5s ease-in-out,
            color 0.5s ease-in-out,
            transform 0.5s ease-in-out;

        &:hover {
            background-color: $buttonTextColor;
            border-color: $backgroundBtnColor;
            color: $backgroundBtnColor;
            transform: scale(1.05);
        }
        &:focus {
            outline: $selectorColor 2px solid;
            box-shadow: 0 0 0 3px lighten($color: $selectorColor, $amount: 20%);
        }
    }
    & p {
        font-weight: bold;
        font-size: $paragraph-font-size;
        margin-bottom: 64px;
    }
}
footer {
    display: flex;
    flex-direction: column;
    background-color: $buttonTextColor;
    padding: 50px 0;
    border-top: 3px solid $textColor;

    & .rights {
        font-size: $paragraph-font-size;
        text-align: center;
        margin: 32px;
        font-weight: bold;
    }
    & a {
        font-size: $paragraph-font-size;
        text-decoration: none;
        color: $linkColor;
        margin: 32px auto;
        transition: color 0.5s ease-in-out;

        &:hover {
            color: $secondLinkColor;
            text-decoration: underline;
        }
        &:focus {
            outline: $linkColor 2px solid;
            box-shadow: 0 0 0 3px lighten($color: $linkColor, $amount: 20%);
        }
    }
}
@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        scroll-behavior: auto !important;
        transform: none !important;
    }
}
// Responsive design for mobile devices under 600px
@media only screen and (max-width: 600px) {
        #menuButton {
            display: block;
        }
        nav {
            padding: 6px;
            flex-wrap: wrap;
            
            & ul {
                width: calc(100% - 12px);
                height: auto;
                display: none;
                flex-direction: column;
            }
            &.nav-open {
                display: flex;
            }
            & .nav-logo {
                margin: 6px;
        
                & .logo-navbar {
                    width: 60px;
                }
            }
            & span {
                margin: 0 8px;
                font-size: calc($paragraph-font-size - 4px);
            }
            & ul {
                display: none;
                flex-direction: column;
                
                & li {
                    & a {
                        padding: 8px;
                        margin: 0 auto;
                        font-size: calc($paragraph-font-size - 4px);
                        border-radius: 0px;
                        
                        &:hover {
                            transform: none;
                        }
                    }
                }
            }
        }
        .header-start-page {
            flex-direction: column;
            margin-top: 150px;
            padding: 0 0 50px 0;
            gap: 30px;
        
            & h1 {
                font-size: calc($title-font-size - 10px)
            }
            & .logo-title {
                width: 200px;
            }
        }
        .start-body-button {
            padding: 12px 16px;
            font-size: calc($paragraph-font-size - 4px);
        }
        .download-elements {
            right: 30px;
            bottom: -30px;
            transform: translateY(-215%);
            
            &.download-elements-hidden {
                transform: translateY(-85%);
            }
        }
        .start-body {
            padding: 0 10px;
            flex-wrap: wrap;
        
            & h2 {
                font-size: calc($subtitle-font-size - 3px);
                margin-top: 50px;
            }
            & p {
                font-size: calc($paragraph-font-size - 4px);
            }
        }
        .middle-body {
            padding: 0 10px;
            
            & h2 {
                font-size: calc($subtitle-font-size - 6px);
            }
            & .assets-list {
                grid-template-columns: repeat(1, 1fr);
                margin: 0;
                font-size: calc($paragraph-font-size - 4px);
                
                & figure {
                    &:is(:nth-child(2), :nth-child(10)) {
                        & img {
                            width: 80%;
                        }
                    }
                    & img {
                        width: 50%;
                        height: auto;
                        border: 1px solid $textColor;
                    }
                }
            }
        }
        .download-body {
            & a {
                font-size: calc($paragraph-font-size - 4px);
                padding: 12px 16px;
            }
            & p {
                font-size: calc($paragraph-font-size - 4px);
                text-align: center;
                margin-right: 20px;
                margin-left: 20px;
            }
        }
        footer {
            & .rights {
                font-size: calc($paragraph-font-size - 4px);
                margin: 16px 16px;
                text-align: center;
            }
            & a {
                font-size: calc($paragraph-font-size - 4px);
                margin: 16px auto;
            }
        }
    }
// Responsive design for tablets between 601px and 992px
@media only screen and (min-width: 601px) and (max-width: 992px) {
    #menuButton {
        display: block;
    }
    nav {
        padding: 10px;
        flex-wrap: wrap;
        
        & ul {
            width: calc(100% - 17px);
            height: auto;
            display: none;
            flex-direction: column;
        }
        &.nav-open {
            display: flex;
        }
        & .nav-logo {
            margin: 6px;
    
            & .logo-navbar {
                width: 60px;
            }
        }
        & span {
            margin: 0 8px;
            font-size: calc($paragraph-font-size - 2px);
        }
        & ul {
            display: none;
            flex-direction: column;
            
            & li {
                & a {
                    padding: 8px;
                    margin: 0 8px;
                    font-size: calc($paragraph-font-size - 2px);
                    border-radius: 0px;
                    
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }
    .header-start-page {
        flex-direction: row;
        margin-top: 150px;
        padding: 0 0 50px 100px;
        gap: 40px;
        
        & h1 {
            font-size: calc($title-font-size - 5px);
        }
        & .logo-title {
            width: 270px;
        }
    }
    .start-body-button {
        padding: 12px 16px;
        font-size: calc($paragraph-font-size - 2px);
    }
    .download-elements {
        right: 30px;
        bottom: -30px;
        transform: translateY(-215%);
        
        &.download-elements-hidden {
            transform: translateY(-85%);
        }
    }
    .start-body {
        padding: 0 20px;
        flex-wrap: wrap;
        
        & h2 {
            font-size: calc($subtitle-font-size - 3px);
            margin-top: 50px;
        }
        & p {
            font-size: calc($paragraph-font-size - 2px);
        }
    }
    .middle-body {
        padding: 0 20px;
        
        & h2 {
            font-size: calc($subtitle-font-size - 3px);
        }
        & .assets-list {
            grid-template-columns: repeat(2, 1fr);
            margin: 0;
            font-size: calc($paragraph-font-size - 2px);
            
            & figure {
                &:is(:nth-child(2), :nth-child(10)) {
                    & img {
                        width: 90%;
                    }
                }
                & img {
                    width: 50%;
                    height: auto;
                    border: 1px solid $textColor;
                }
            }
        }
    }
    .download-body {
        & a {
            font-size: calc($paragraph-font-size - 2px);
            padding: 12px 16px;
        }
        & p {
            font-size: calc($paragraph-font-size - 2px);
            text-align: center;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    footer {
        & .rights {
            font-size: calc($paragraph-font-size - 2px);
            margin: 16px 16px;
            text-align: center;
        }
        & a {
            font-size: calc($paragraph-font-size - 2px);
            margin: 16px auto;
        }
    }
}
// Responsive design for desktops between 993px and 1200px
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    #menuButton {
        display: none;
    }
    nav {
        padding: 12px;
    
        & .nav-logo {
            margin: 12px;
    
            & .logo-navbar {
                width: 70px;
            }
        }
        & span {
            font-size: calc($paragraph-font-size - 1px);
        }
        ul {
            & li {
                & a {
                    padding: 12px;
                    margin: 0 6px;
                    font-size: calc($paragraph-font-size - 1px);
                }
            }
        }
    }
    .header-start-page {
        flex-direction: row;
        margin-top: 150px;
        padding: 25px 0 65px 100px;
        gap: 50px;
        
        & h1 {
            font-size: calc($title-font-size - 2px);
        }
        & .logo-title {
            width: 350px;
        }
    }
    .start-body-button {
        padding: 14px 18px;
        font-size: calc($paragraph-font-size - 1px);
    }
    .download-elements {
        right: 30px;
        bottom: -30px;
        transform: translateY(-215%);
        
        &.download-elements-hidden {
            transform: translateY(-85%);
        }
    }
    .start-body {
        padding: 0 20px;
        flex-wrap: wrap;
    
        & h2 {
            font-size: calc($subtitle-font-size - 1px);
            margin-top: 50px;
        }
        & p {
            font-size: calc($paragraph-font-size - 1px);
        }
    }
    .middle-body {
        padding: 0 10px;
    
        & h2 {
            font-size: calc($subtitle-font-size - 1px);
        }
        & .assets-list {
            grid-template-columns: repeat(2, 1fr);
            margin: 0;
            font-size: calc($paragraph-font-size - 1px);
            
            & figure {
                &:is(:nth-child(2), :nth-child(10)) {
                    & img {
                        width: 100%;
                    }
                }
                & img {
                    width: 60%;
                    height: auto;
                    border: 1px solid $textColor;
                }
            }
        }
    }
    .download-body {
        & a {
            font-size: calc($paragraph-font-size - 1px);
            padding: 14px 18px;
        }
        & p {
            font-size: calc($paragraph-font-size - 1px);
            text-align: center;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
    footer {
        & .rights {
            font-size: calc($paragraph-font-size - 1px);
            margin: 16px 16px;
            text-align: center;
        }
        & a {
            font-size: calc($paragraph-font-size - 1px);
            margin: 16px auto;
        }
    }
}