@import "variables";
@import "baseColor";
@import "scrollbarThumb";

html {
    scroll-behavior: smooth;
    font-size: $basic-font-size;
}
body {
    font-family: "Outfit", $basic-font-family;
    line-height: $basic-line-height;
    color: $textColor;
    background-color: $backgroundColor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    background-color: $linkColor;
    padding: 16px;
    border-bottom: 3px solid $navLinksColor;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition:
        transform 0.35s ease-in-out,
        background-color 0.6s ease-in-out;
    will-change: transform;

    &.nav-hidden {
        transform: translateY(-150px);
        background-color: rgba(255, 255, 255, 0.4);
    }
    & .nav-logo {
        display: flex;
        align-items: center;
        margin: 16px;
        cursor: default;

        & .logo-navbar {
            display: block;
            max-width: 100%;
            width: 80px;
            height: auto;
            outline: 1px solid $backgroundColor;
        }
    }
    & span {
        font-size: $paragraph-font-size;
        color: $navLinksColor;
        margin: 0 16px;
    }
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;

        & li {
            & a {
                font-size: $paragraph-font-size;
                display: block;
                text-decoration: none;
                color: $navLinksColor;
                margin: 0 16px;
                padding: 16px;
                transform: scale(1);
                transition:
                    background-color 0.5s ease-in-out,
                    color 0.5s ease-in-out,
                    transform 0.5s ease-in-out;
                border-radius: $borderRadius;

                &:hover {
                    background-color: $navLinksColor;
                    color: $linkColor;
                    transform: scale(1.05);
                }
                &:focus {
                    outline: $navLinksColor;
                    box-shadow: 0 0 0 2px
                        lighten($color: $navLinksColor, $amount: 20%);
                }
            }
        }
    }
}
.header-start-page {
    display: flex;
    align-items: center;
    margin-top: 200px;
    padding-left: 200px;
    padding-bottom: 75px;
    border-bottom: 3px solid $textColor;
    gap: 100px;

    & h1 {
        font-size: $title-font-size
    }
    & .logo-title {
        display: block;
        max-width: 100%;
        width: 410px;
        height: auto;
    }
}
.start-body-button {
    font-size: $paragraph-font-size;
    background-color: $backgroundBtnColor;
    color: $buttonTextColor;
    text-decoration: none;
    border: 3px solid $borderBtnColor;
    border-radius: $borderRadius;
    padding: 16px 20px;
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 30px;
    transform: scale(1);
    transition:
        background-color 0.5s ease-in-out,
        color 0.5s ease-in-out,
        transform 0.5s ease-in-out,
        border-color 0.5s ease-in-out;

    &:hover {
        background-color: $buttonTextColor;
        color: $backgroundBtnColor;
        border-color: $backgroundBtnColor;
        transform: scale(1.05);
    }
    &:focus {
        outline: $navLinksColor;
        box-shadow: 0 0 0 3px lighten($color: $navLinksColor, $amount: 20%);
    }
}
.download-elements {
    @extend .start-body-button;
    right: calc(30px + 240px);
}
.background {
    position: fixed;
    inset: 0;
    background-image: url("../img/png/Morpion_Fond_Ecran.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(5px);
}
.start-body {
    border-bottom: 3px solid $textColor;
    text-align: center;
    padding: 35px 150px;

    & h2 {
        font-size: $subtitle-font-size
    }
    & p {
        font-size: $paragraph-font-size
    }
}
.middle-body {
    border-bottom: 3px solid $textColor;
    padding-bottom: 64px;
    
    & h3 {
        font-size: $third-font-size;
        margin-bottom: 32px;
        margin-top: 24px;
        text-align: center;
    }
    & .assets-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
    }
    & figure {
        align-content: center;
        text-align: center;
        font-size: $paragraph-font-size;

        & img {
            background-color: $textColor;
        }
    }
}
.download-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;

    & a {
        font-size: $paragraph-font-size;
        background: $backgroundBtnColor;
        color: $buttonTextColor;
        text-decoration: none;
        border: 3px solid $backgroundBtnColor;
        border-radius: $borderRadius;
        padding: 16px 20px;
        margin-bottom: 64px;
        transform: scale(1);
        transition:
            background-color 0.5s ease-in-out,
            border-color 0.5s ease-in-out,
            color 0.5s ease-in-out,
            transform 0.5s ease-in-out;

        &:hover {
            background-color: $buttonTextColor;
            border-color: $backgroundBtnColor;
            color: $backgroundBtnColor;
            transform: scale(1.05);
        }
        &:focus {
            outline: $navLinksColor;
            box-shadow: 0 0 0 3px lighten($color: $navLinksColor, $amount: 20%);
        }
    }
    & span {
        font-weight: bold;
        font-size: $paragraph-font-size;
        margin-bottom: 64px;
    }
}
footer {
    display: flex;
    flex-direction: column;
    background-color: $buttonTextColor;
    padding: 50px 0;
    border-top: 3px solid $textColor;

    & .rights {
        font-size: $paragraph-font-size;
        text-align: center;
        margin-top: 32px;
        font-weight: bold;
    }
    & a {
        font-size: $paragraph-font-size;
        text-decoration: none;
        color: $linkColor;
        margin: 32px auto;
        transition: color 0.5s ease-in-out;

        &:hover {
            color: $secondLinkColor;
            text-decoration: underline;
        }
    }
}
@media (prefers-reduced-motion: reduce) {
    * {
        transition: none;
        scroll-behavior: auto;
    }
}