@import "baseColor";
@import "variables";
@import "scrollbarThumb";

html {
    scroll-behavior: smooth;
    font-size: $basic-font-size;
}
body {
    font-family: "Outfit", $basic-font-family;
    line-height: $basic-line-height;
    color: $textColor;
    background-color: $backgroundColor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-button {
    display: none;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: $navLinksColor;
    font-size: $paragraph-font-size;
    margin-left: auto;
    margin-right: 32px;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $linkColor;
    padding: 16px;
    border-bottom: 3px solid $navLinksColor;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    transition:
        transform 0.35s ease-in-out,
        background-color 0.6s ease-in-out;
    will-change: transform;

    &.nav-hidden {
        transform: translateY(-150px);
        background-color: rgba(255, 255, 255, 0.4);
    }
    & .nav-logo {
        display: flex;
        align-items: center;
        margin: 16px;
        cursor: default;

        & .logo-navbar {
            display: block;
            max-width: 100%;
            width: 80px;
            height: auto;
            outline: 1px solid $backgroundColor;
        }
    }
    & span {
        color: $navLinksColor;
        margin: 0 16px;
        font-size: $paragraph-font-size;
    }
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        
        &.nav-open {
            display: flex;
            flex-direction: column;
        }
        & li {
            & a {
                display: block;
                text-decoration: none;
                color: $navLinksColor;
                font-size: $paragraph-font-size;
                margin: 0 16px;
                padding: 16px;
                transform: scale(1);
                transition:
                    background-color 0.5s ease-in-out,
                    color 0.5s ease-in-out,
                    transform 0.5s ease-in-out;
                border-radius: $borderRadius;

                &:hover {
                    background-color: $navLinksColor;
                    color: $linkColor;
                    transform: scale(1.05);
                }
                &:focus {
                    outline: $navLinksColor 2px solid;
                    box-shadow: 0 0 0 3px
                        lighten($color: $navLinksColor, $amount: 20%);
                }
            }
        }
    }
}
.header-start-page {
    display: flex;
    align-items: center;
    margin-top: 200px;
    padding-left: 200px;
    padding-bottom: 75px;
    border-bottom: 3px solid $textColor;
    gap: 100px;

    & h1 {
        font-size: $title-font-size;
    }
    & .logo-title {
        display: block;
        max-width: 100%;
        width: 410px;
        height: auto;
    }
}
.start-body-button {
    display: inline-block;
    font-size: $paragraph-font-size;
    background-color: $backgroundBtnColor;
    color: $buttonTextColor;
    text-decoration: none;
    border: 3px solid $borderBtnColor;
    border-radius: $borderRadius;
    padding: 16px 20px;
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 30px;
    transform: scale(1);
    transition:
        background-color 0.5s ease-in-out,
        color 0.5s ease-in-out,
        border-color 0.5s ease-in-out,
        transform 0.5s ease-in-out;

    &:hover {
        background-color: $borderBtnColor;
        color: $backgroundBtnColor;
        border-color: $backgroundBtnColor;
        transform: scale(1.05);
    }
    &:focus {
        outline: $selectorColor 2px solid;
        box-shadow: 0 0 0 3px lighten($color: $selectorColor, $amount: 20%);
    }
    &.start-body-hidden {
        transform: translateX(200%);
    }
}
.background {
    position: fixed;
    inset: 0;
    background-image: url("../img/png/Morpion_Fond_Ecran.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(5px);
}
.start-body {
    text-align: center;
    padding: 45px 150px;

    & h2 {
        font-size: $subtitle-font-size;
    }
    & p {
        font-size: $paragraph-font-size;
    }
}

.middle-body {
    @extend .start-body;
    border-bottom: 3px solid $textColor;
}
.end-body {
    @extend .start-body;

    & a {
        font-size: $paragraph-font-size;
        display: inline-block;
        text-decoration: none;
        color: $buttonTextColor;
        background-color: $backgroundBtnColor;
        cursor: pointer;
        padding: 16px 20px;
        margin: 32px 0;
        border: 3px solid $borderBtnColor;
        border-radius: $borderRadius;
        transform: scale(1);
        transition:
            background-color 0.5s ease-in-out,
            color 0.5s ease-in-out,
            border-color 0.5s ease-in-out,
            transform 0.5s ease-in-out;

        &:hover {
            background-color: $borderBtnColor;
            color: $backgroundBtnColor;
            border-color: $backgroundBtnColor;
            transform: scale(1.05);
        }
        &:focus {
            outline: $selectorColor 2px solid;
            box-shadow: 0 0 0 3px lighten($color: $selectorColor, $amount: 20%);
        }
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    background-color: $buttonTextColor;
    padding: 50px 0;
    border-top: 3px solid $textColor;

    & .contact-list {
        & h3 {
            text-align: center;
            font-size: $third-font-size;
        }
        & p {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: $paragraph-font-size;
            margin-left: 32px;

            & img {
                display: block;
                max-width: 100%;
                width: 80px;
                height: auto;
                transform: scale(1);
                transition: transform 0.5s ease-in-out;
                margin: auto;

                &:hover {
                    transform: scale(1.1);
                }
                &:focus {
                    outline: $textColor 2px solid;
                    box-shadow: 0 0 0 3px
                        lighten($color: $textColor, $amount: 20%);
                }
            }
        }
    }
    & .explanation-list {
        & h3 {
            text-align: center;
            font-size: $third-font-size;
        }
        & dl {
            text-align: left;
            font-size: $paragraph-font-size;
        }
        & dt {
            text-align: center;
            font-weight: bold;
            margin: 12px 0;
        }
    }
    & .credits-list {
        & h3 {
            text-align: center;
            font-size: $third-font-size;
        }
        & ul {
            list-style-type: none;
            padding: 0;
            margin: 12px 16px;
            font-size: $paragraph-font-size;

            & li {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 16px 0;

                & a {
                    color: $linkColor;
                    font-weight: bold;
                    margin: 12px auto;
                    transition:
                        color 0.5s ease-in-out,
                        text-decoration 0.5s ease-in-out;
                    text-decoration: none;

                    &:hover {
                        color: $secondLinkColor;
                        text-decoration: underline;
                    }
                    &:focus {
                        outline: $linkColor 2px solid;
                        box-shadow: 0 0 0 3px lighten($color: $linkColor, $amount: 20%);
                    }
                }
            }
        }
    }
    & .rights {
        font-size: $paragraph-font-size;
        font-weight: bold;
        text-align: center;
        margin-top: 64px;
        transform: translateX(100%);
    }
}
@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        scroll-behavior: auto !important;
        transform: none !important;
    }
}

// Responsive design for mobile devices under 600px
@media only screen and (max-width: 600px) {
    #menuButton {
        display: block;
    }
    nav {
        padding: 6px;
        flex-wrap: wrap;
        
        & ul {
            width: calc(100% - 12px);
            height: auto;
            display: none;
            flex-direction: column;
        }
        &.nav-open {
            display: flex;
        }
        & .nav-logo {
            margin: 6px;

            & .logo-navbar {
                width: 60px;
            }
        }
        & span {
            margin: 0 8px;
            font-size: calc($paragraph-font-size - 4px);
        }
        & ul {
            display: none;
            flex-direction: column;
            
            & li {
                & a {
                    padding: 8px;
                    margin: 0 auto;
                    font-size: calc($paragraph-font-size - 4px);
                    border-radius: 0px;
                    
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }
    .header-start-page {
        flex-direction: column;
        margin-top: 150px;
        padding: 0 0 50px 0;
        gap: 30px;

        & h1 {
            font-size: calc($title-font-size - 10px)
        }
        & .logo-title {
            width: 200px;
        }
    }
    .start-body-button {
        padding: 12px 16px;
        font-size: calc($paragraph-font-size - 4px);
    }
    .start-body {
        padding: 0 10px;
        flex-wrap: wrap;

        & h2 {
            font-size: calc($subtitle-font-size - 6px);
            margin-top: 50px;
        }
        & p {
            font-size: calc($paragraph-font-size - 4px);
        }
    }
    .end-body {
        & a {
            font-size: calc($paragraph-font-size - 4px);
            padding: 12px 16px;
        }
    }
    footer {
        grid-template-columns: 1fr;
        justify-content: center;
        
        & .contact-list {
            & h3 {
                font-size: calc($third-font-size - 8px);
            }
            & p {
                justify-content: center;
                margin: 16px auto;
                font-size: calc($paragraph-font-size - 4px);
            }
        }
        & .explanation-list {
            & h3 {
                font-size: calc($third-font-size - 8px);
            }
            & dl {
                justify-content: center;
                margin-right: 32px;
                font-size: calc($paragraph-font-size - 4px);
            }
            & dt {
                margin-top: 15px;
                margin-left: 32px;
            }
        }
        & .credits-list {
            & h3 {
                font-size: calc($third-font-size - 8px);
            }
            & ul {
                font-size: calc($paragraph-font-size - 4px);
                
                & li {
                    & a {
                        margin: 12px auto;
                    }
                }
            }
        }
        & .rights {
            margin: 16px auto;
            font-size: calc($paragraph-font-size - 4px);
            transform: translateX(0);
        }
    }
}

// Responsive design for tablets between 601px and 992px
@media (min-width: 601px) and (max-width: 992px) {
    #menuButton {
        display: block;
    }
    nav {
        padding: 10px;
        flex-wrap: wrap;
        
        & ul {
            width: calc(100% - 17px);
            height: auto;
            display: none;
            flex-direction: column;
        }
        &.nav-open {
            display: flex;
        }
        & .nav-logo {
            margin: 6px;
    
            & .logo-navbar {
                width: 60px;
            }
        }
        & span {
            margin: 0 8px;
            font-size: calc($paragraph-font-size - 2px);
        }
        & ul {
            display: none;
            flex-direction: column;
            
            & li {
                & a {
                    padding: 8px;
                    margin: 0 8px;
                    font-size: calc($paragraph-font-size - 2px);
                    border-radius: 0px;
                    
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }
    .header-start-page {
        flex-direction: row;
        margin-top: 150px;
        padding: 0 0 50px 100px;
        gap: 40px;
        
        & h1 {
            font-size: calc($title-font-size - 5px);
        }
        & .logo-title {
            width: 270px;
        }
    }
    .start-body-button {
        padding: 12px 16px;
        font-size: calc($paragraph-font-size - 2px);
    }
    .start-body {
        padding: 0 20px;
        flex-wrap: wrap;
        
        & h2 {
            font-size: calc($subtitle-font-size - 3px);
            margin-top: 50px;
        }
        & p {
            font-size: calc($paragraph-font-size - 2px);
        }
    }
    .end-body {
        & a {
            font-size: calc($paragraph-font-size - 2px);
            padding: 14px 18px;
        }
    }
    footer {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        
        & .contact-list {
            & h3 {
                font-size: calc($third-font-size - 5px);
            }
            & p {
                margin: 12px 16px;
                font-size: calc($paragraph-font-size - 2px);
            }
        }
        & .explanation-list {
            & h3 {
                font-size: calc($third-font-size - 5px);
            }
            & dl {
                margin: 12px 16px;
                font-size: calc($paragraph-font-size - 2px);
            }
            & dt {
                margin-top: 15px;
                margin-left: 32px;
            }
        }
        & .credits-list {
            & h3 {
                font-size: calc($third-font-size - 5px);
            }
            & ul {
                font-size: calc($paragraph-font-size - 2px);
                
                & li {
                    & a {
                        margin: 12px auto;
                    }
                }
            }
        }
        & .rights {
            margin: 16px 16px;
            font-size: calc($paragraph-font-size - 2px);
            align-self: center;
            transform: translateX(0);
        }
    }
}
// Responsive design for desktops between 993px and 1200px
@media (min-width: 993px) and (max-width: 1200px) {
    #menuButton {
        display: none;
    }
    nav {
        padding: 12px;

        & .nav-logo {
            margin: 12px;

            & .logo-navbar {
                width: 70px;
            }
        }
        & span {
            font-size: calc($paragraph-font-size - 1px);
        }
        ul {
            & li {
                & a {
                    padding: 12px;
                    margin: 0 6px;
                    font-size: calc($paragraph-font-size - 1px);
                }
            }
        }
    }
    .header-start-page {
        flex-direction: row;
        margin-top: 150px;
        padding: 25px 0 65px 100px;
        gap: 50px;
        
        & h1 {
            font-size: calc($title-font-size - 2px);
        }
        & .logo-title {
            width: 350px;
        }
    }
    .start-body-button {
        padding: 14px 18px;
        font-size: calc($paragraph-font-size - 1px);
    }
    .start-body {
        padding: 0 20px;
        flex-wrap: wrap;

        & h2 {
            font-size: calc($subtitle-font-size - 1px);
            margin-top: 50px;
        }
        & p {
            font-size: calc($paragraph-font-size - 1px);
        }
    }
    .end-body {
        & a {
            font-size: calc($paragraph-font-size - 1px);
            padding: 16px 20px;
        }
    }
    footer {
        padding: 40px 0;
        grid-template-columns: repeat(2, 1fr);
        
        & .contact-list {
            & h3 {
                font-size: calc($third-font-size - 1px);
            }
            & p {
                margin: 12px 16px;
                font-size: calc($paragraph-font-size - 1px);
            }
        }
        & .explanation-list {
            & h3 {
                font-size: calc($third-font-size - 1px);
            }
            & dl {
                margin: 12px 16px;
                font-size: calc($paragraph-font-size - 1px);
            }
            & dt {
                margin-top: 15px;
                margin-left: 32px;
            }
        }
        & .credits-list {
            & h3 {
                font-size: calc($third-font-size - 1px);
            }
            & ul {
                font-size: calc($paragraph-font-size - 1px);
            }
        }
        & .rights {
            font-size: $paragraph-font-size;
            margin: 28px 16px;
            text-align: center;
            transform: translateX(0);
            align-self: center;
        }
    }
}