@import "baseColor";
@import "variables";
@import "scrollbarThumb";

html {
    scroll-behavior: smooth;
    font-size: $basic-font-size;
}
body {
    font-family: "Outfit", $basic-font-family;
    line-height: $basic-line-height;
    color: $textColor;
    background-color: $backgroundColor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    background-color: $linkColor;
    padding: 16px;
    border-bottom: 3px solid $navLinksColor;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition:
        transform 0.35s ease-in-out,
        background-color 0.6s ease-in-out;
    will-change: transform;

    &.nav-hidden {
        transform: translateY(-150px);
        background-color: rgba(255, 255, 255, 0.4);
    }
    & .nav-logo {
        display: flex;
        align-items: center;
        margin: 16px;
        cursor: default;

        & .logo-navbar {
            display: block;
            max-width: 100%;
            width: 80px;
            height: auto;
            outline: 1px solid $backgroundColor;
        }
    }
    & span {
        color: $navLinksColor;
        margin: 0 16px;
        font-size: $paragraph-font-size;
    }
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;

        & li {
            & a {
                display: block;
                text-decoration: none;
                color: $navLinksColor;
                font-size: $paragraph-font-size;
                margin: 0 16px;
                padding: 16px;
                transform: scale(1);
                transition:
                    background-color 0.5s ease-in-out,
                    color 0.5s ease-in-out,
                    transform 0.5s ease-in-out;
                border-radius: $borderRadius;

                &:hover {
                    background-color: $navLinksColor;
                    color: $linkColor;
                    transform: scale(1.05);
                }
                &:focus {
                    outline: $navLinksColor;
                    box-shadow: 0 0 0 3px
                        lighten($color: $navLinksColor, $amount: 20%);
                }
            }
        }
    }
}
.header-start-page {
    display: flex;
    align-items: center;
    margin-top: 200px;
    padding-left: 200px;
    padding-bottom: 75px;
    border-bottom: 3px solid $textColor;
    gap: 100px;

    & h1 {
        font-size: $title-font-size;
    }
    & .logo-title {
        display: block;
        max-width: 100%;
        width: 410px;
        height: auto;
    }
}
.start-body-button {
    font-size: $paragraph-font-size;
    background: $backgroundBtnColor;
    color: $buttonTextColor;
    text-decoration: none;
    border: 3px solid $borderBtnColor;
    border-radius: $borderRadius;
    padding: 16px 20px;
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 30px;
    transform: scale(1);
    transition:
        background-color 0.5s ease-in-out,
        color 0.5s ease-in-out,
        border-color 0.5s ease-in-out,
        transform 0.5s ease-in-out;

    &:hover {
        background-color: $buttonTextColor;
        color: $backgroundBtnColor;
        border-color: $backgroundBtnColor;
        transform: scale(1.05);
    }
    &:focus {
        outline: $navLinksColor;
        box-shadow: 0 0 0 3px lighten($color: $navLinksColor, $amount: 20%);
    }
}
.background {
    position: fixed;
    inset: 0;
    background-image: url("../img/png/Morpion_Fond_Ecran.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(5px);
}
.start-body {
    text-align: center;
    padding: 35px 150px;

    & h2 {
        font-size: $subtitle-font-size;
    }
    & p {
        font-size: $paragraph-font-size;
    }
}

.middle-body {
    @extend .start-body;
    border-bottom: 3px solid $textColor;
}
.end-body {
    @extend .start-body;

    & a {
        font-size: $paragraph-font-size;
        display: inline-block;
        text-decoration: none;
        color: $buttonTextColor;
        background-color: $linkColor;
        cursor: pointer;
        padding: 16px 20px;
        margin: 32px 0;
        border: 3px solid $borderBtnColor;
        border-radius: $borderRadius;
        transform: scale(1);
        transition:
            background-color 0.5s,
            color 0.5s ease-in-out,
            border-color 0.5s ease-in-out,
            transform 0.5s ease-in-out;

        &:hover {
            background-color: $borderBtnColor;
            color: $linkColor;
            border-color: $linkColor;
            transform: scale(1.1);
        }
        &:focus {
            outline: $navLinksColor;
            box-shadow: 0 0 0 3px lighten($color: $navLinksColor, $amount: 20%);
        }
    }
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    background-color: $buttonTextColor;
    padding: 50px 0;
    border-top: 3px solid $textColor;

    & .contact-list {
        & h3 {
            text-align: center;
            font-size: $third-font-size;
        }
        & span {
            display: flex;
            align-items: center;
            font-size: $paragraph-font-size;
            margin-left: 32px;

            & img {
                max-width: 100%;
                width: 60px;
                height: auto;
                transform: scale(1);
                transition: transform 0.5s ease-in-out;
                margin-right: 16px;

                &:hover {
                    transform: scale(1.25);
                }
            }
        }
    }
    & .explanation-list {
        & h3 {
            text-align: center;
            font-size: $third-font-size;
        }
        & dl {
            text-align: center;
            font-size: $paragraph-font-size;
        }
        & dt {
            font-weight: bold;
            margin: 12px 0;
        }
    }
    & .credits-list {
        & h3 {
            text-align: center;
            font-size: $third-font-size;
        }
        & ul {
            list-style-type: none;
            padding: 0;
            margin: 12px 16px;
            font-size: $paragraph-font-size;

            & li {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 16px 0;

                & a {
                    color: $linkColor;
                    font-weight: bold;
                    margin: 12px auto;
                    transition:
                        color 0.5s ease-in-out,
                        text-decoration 0.5s ease-in-out;
                    text-decoration: none;

                    &:hover {
                        color: $secondLinkColor;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    & .rights {
        font-size: $paragraph-font-size;
        font-weight: bold;
        text-align: center;
        margin-top: 64px;
        transform: translateX(100%);
    }
}
@media (prefers-reduced-motion: reduce) {
    * {
        transition: none;
        scroll-behavior: auto;
    }
}
