@import "baseColor";
@import "variables";
@import "scrollbarThumb";

html {
    scroll-behavior: smooth;
    font-size: $basic-font-size;
}
body {
    font-family: "Outfit", $basic-font-family;
    line-height: $basic-line-height;
    color: $textColor;
    background-color: $backgroundColor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    place-content: center;
    background-color: $linkColor;
    padding: 16px;
    border-bottom: 3px solid $navLinksColor;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition:
        transform 0.35s ease-in-out,
        background-color 0.6s ease-in-out;
    will-change: transform;

    &.nav-hidden {
        transform: translateY(-150px);
        background-color: rgba(255, 255, 255, 0.4);
    }
    & .nav-logo {
        display: flex;
        align-items: center;
        margin: 16px;
        cursor: default;

        & .logo-navbar {
            display: block;
            max-width: 100%;
            width: 80px;
            height: auto;
            outline: 1px solid $backgroundColor;
        }
    }
    & span {
        color: $navLinksColor;
        margin: 0 16px;
        font-size: $paragraph-font-size;
    }
}
.header-start-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 200px;
    padding: 0 0 75px 200px;
    border-bottom: 3px solid $textColor;
    gap: 100px;

    & h1 {
        font-size: $title-font-size;
    }
    & .logo-title {
        display: block;
        max-width: 100%;
        width: 410px;
        height: auto;
    }
}
.background {
    position: fixed;
    inset: 0;
    background-image: url("../img/png/Morpion_Fond_Ecran.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(5px);
}
.start-body {
    text-align: center;
    margin: 0 150px;

    & h2 {
        font-size: $subtitle-font-size;
        margin-top: 70px;
    }
    & p {
        font-size: $paragraph-font-size;
    }
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px auto;

    & .languages-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 50px;

        & a {
            display: inline-block;
            font-size: $paragraph-font-size;
            text-decoration: none;
            color: $buttonTextColor;
            background-color: $backgroundBtnColor;
            cursor: pointer;
            padding: 16px 20px;
            border: 3px solid $borderBtnColor;
            border-radius: $borderRadius;
            transform: scale(1);
            transition:
                background-color 0.5s,
                color 0.5s ease-in-out,
                border-color 0.5s ease-in-out,
                transform 0.5s ease-in-out;

            &:hover {
                background: $buttonTextColor;
                color: $backgroundBtnColor;
                border-color: $backgroundBtnColor;
                transform: scale(1.05);
            }
            &:focus {
                outline: $selectorColor 2px solid;
                box-shadow: 0 0 0 3px
                    lighten($color: $selectorColor, $amount: 20%);
            }
        }
    }
}
footer {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    border-top: 3px solid $textColor;
    background-color: $buttonTextColor;

    & .rights {
        margin: 32px 0;
        font-size: $paragraph-font-size;
        font-weight: bold;
    }
}
@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        scroll-behavior: auto !important;
        transform: none !important;
    }
}

// Responsive design for mobile devices under 600px
@media only screen and (max-width: 600px) {
    nav {
        padding: 6px;

        & .nav-logo {
            margin: 6px;

            & .logo-navbar {
                width: 60px;
            }
        }
        & span {
            font-size: calc($paragraph-font-size - 4px);
        }
    }
    .header-start-page {
        flex-direction: column;
        margin-top: 150px;
        padding: 0 0 50px 0;
        gap: 30px;

        & h1 {
            font-size: calc($title-font-size - 10px)
        }
        & .logo-title {
            width: 200px;
        }
    }
    .start-body {
        margin: 0 10px;

        & h2 {
            font-size: calc($subtitle-font-size - 6px);
            margin-top: 50px;
        }
        & p {
            font-size: calc($paragraph-font-size - 4px);
        }
    }
    .languages {
        margin: 50px auto;

        & .languages-list {
            gap: 25px;
            flex-direction: column;

            & a {
                font-size: calc($paragraph-font-size - 4px);
                padding: 12px 16px;
            }
        }
    }
    footer {
        padding: 20px 0;

        & .rights {
            font-size: calc($paragraph-font-size - 4px);
            margin: 16px 16px;
            text-align: center;
        }
    }
}
// Responsive design for tablets between 601px and 992px
@media (min-width: 601px) and (max-width: 992px) {
    nav {
        padding: 10px;

        & .nav-logo {
            margin: 10px;

            & .logo-navbar {
                width: 60px;
            }
        }
        & span {
            font-size: calc($paragraph-font-size - 2px);
        }
    }
    .header-start-page {
        flex-direction: row;
        margin-top: 150px;
        padding: 0 0 50px 100px;
        gap: 40px;
        
        & h1 {
            font-size: calc($title-font-size - 5px);
        }
        & .logo-title {
            width: 270px;
        }
    }
    .start-body {
        margin: 0 50px;

        & h2 {
            font-size: calc($subtitle-font-size - 3px);
            margin-top: 50px;
        }
        & p {
            font-size: calc($paragraph-font-size - 2px);
        }
    }
    .languages {
        margin: 50px auto;

        & .languages-list {
            gap: 30px;
            flex-direction: row;

            & a {
                font-size: calc($paragraph-font-size - 2px);
                padding: 14px 18px;
            }
        }
    }
    footer {
        padding: 30px 0;
        
        & .rights {
            font-size: calc($paragraph-font-size - 2px);
            margin: 24px 16px;
            text-align: center;
        }
    }
}
// Responsive design for desktops between 993px and 1200px
@media (min-width: 993px) and (max-width: 1200px) {
    nav {
        padding: 12px;

        & .nav-logo {
            margin: 12px;

            & .logo-navbar {
                width: 70px;
            }
        }
        & span {
            font-size: calc($paragraph-font-size - 1px);
        }
    }
    .header-start-page {
        flex-direction: row;
        margin-top: 150px;
        padding: 25px 0 65px 100px;
        gap: 50px;
        
        & h1 {
            font-size: calc($title-font-size - 2px);
        }
        & .logo-title {
            width: 350px;
        }
    }
    .start-body {
        margin: 0 75px;

        & h2 {
            font-size: calc($subtitle-font-size - 1px);
            margin-top: 50px;
        }
        & p {
            font-size: calc($paragraph-font-size - 1px);
        }
    }
    .languages {
        margin: 50px auto;
        
        & .languages-list {
            gap: 40px;
            flex-direction: row;

            & a {
                font-size: calc($paragraph-font-size - 1px);
                padding: 16px 20px;
            }
        }
    }
    footer {
        padding: 40px 0;
        
        & .rights {
            font-size: calc($paragraph-font-size - 1px);
            margin: 28px 16px;
            text-align: center;
        }
    }
}