@import "baseColor";
@import "variables";
@import "scrollbarThumb";

html {
    scroll-behavior: smooth;
    font-size: $basic-font-size;
}
body {
    font-family: "Outfit", $basic-font-family;
    line-height: $basic-line-height;
    color: $textColor;
    background-color: $backgroundColor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    align-items: center;
    background-color: $linkColor;
    padding: 16px;
    border-bottom: 3px solid $navLinksColor;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition:
        transform 0.35s ease-in-out,
        background-color 0.6s ease-in-out;
    will-change: transform;

    &.nav-hidden {
        transform: translateY(-150px);
        background-color: rgba(255, 255, 255, 0.4);
    }

    & .nav-logo {
        display: flex;
        align-items: center;
        margin: 16px;
        cursor: default;

        & .logo-navbar {
            display: block;
            max-width: 100%;
            width: 80px;
            height: auto;
            outline: 1px solid $backgroundColor;
        }
    }
    & span {
        color: $navLinksColor;
        margin: 0 16px;
        font-size: $paragraph-font-size;
    }
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;

        & li {
            & a {
                font-size: $paragraph-font-size;
                display: block;
                text-decoration: none;
                color: $navLinksColor;
                margin: 0 16px;
                padding: 16px;
                transform: scale(1);
                transition:
                    background-color 0.5s ease-in-out,
                    color 0.5s ease-in-out,
                    transform 0.5s ease-in-out;
                border-radius: $borderRadius;

                &:hover {
                    background-color: $navLinksColor;
                    color: $linkColor;
                    transform: scale(1.05);
                }
                &:focus {
                    outline: $navLinksColor;
                    box-shadow: 0 0 0 3px
                        lighten($color: $navLinksColor, $amount: 20%);
                }
            }
        }
    }
}
.header-start-page {
    display: flex;
    align-items: center;
    margin-top: 200px;
    padding-left: 200px;
    padding-bottom: 75px;
    border-bottom: 3px solid $textColor;
    gap: 100px;

    & h1 {
        font-size: $title-font-size;
    }
    & .logo-title {
        display: block;
        max-width: 100%;
        width: 410px;
        height: auto;
    }
}
.background {
    position: fixed;
    inset: 0;
    background-image: url("../img/png/Morpion_Fond_Ecran.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(5px);
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 75px 100px 75px 100px;
    padding-bottom: 50px;
}
.morpion-classic {
    & h2 {
        font-size: $subtitle-font-size;
        text-align: center;
    }
    & .grid {
        display: grid;
        margin-left: 100px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 500px;
        width: 500px;
        max-width: 100%;
        border: 3px solid $textColor;

        & .cell {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $paragraph-font-size;
            background-color: $backgroundColor;
            border: 3px solid $textColor;
            cursor: pointer;
            aspect-ratio: 1;
            font-size: 6rem;
            color: $textColor;
            transition:
                background-color 0.5s ease-in-out,
                border-color 0.5s ease-in-out;

            &:hover {
                border-color: $selectorColor;
                background-color: lighten(
                    $color: $backgroundColor,
                    $amount: 10%
                );
            }
        }
    }
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 100px;
}
.player-choice {
    & h2 {
        font-size: $subtitle-font-size;
    }
    & button {
        background-color: $backgroundBtnColor;
        border: 3px solid $borderBtnColor;
        border-radius: $borderRadius;
        cursor: pointer;
        padding: 16px 20px;
        font-size: $paragraph-font-size;
        font-family: "Outfit", $basic-font-family;
        transform: scale(1);
        transition:
            background-color 0.5s ease-in-out,
            border-color 0.5s ease-in-out,
            color 0.5s ease-in-out,
            transform 0.5s ease-in-out;

        &:hover {
            background-color: $borderBtnColor;
            border-color: $backgroundBtnColor;
            color: $backgroundBtnColor;
            transform: scale(1.05);
        }
    }
    & p {
        font-size: $paragraph-font-size;
        font-weight: bold;
    }
}
.player-infos {
    & h2 {
        font-size: $subtitle-font-size;
    }
    & p {
        font-size: $paragraph-font-size;
        font-weight: bold;
    }
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & p {
        font-size: $paragraph-font-size;
        font-weight: bold;
    }

    & button {
        background-color: $backgroundBtnColor;
        border: 3px solid $borderBtnColor;
        border-radius: $borderRadius;
        cursor: pointer;
        padding: 16px 20px;
        font-size: $paragraph-font-size;
        font-family: "Outfit", $basic-font-family;
        transform: scale(1);
        transition:
            background-color 0.5s ease-in-out,
            border-color 0.5s ease-in-out,
            color 0.5s ease-in-out,
            transform 0.5s ease-in-out;

        &:hover {
            background-color: $borderBtnColor;
            border-color: $backgroundBtnColor;
            color: $backgroundBtnColor;
            transform: scale(1.05);
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: $buttonTextColor;
    padding: 50px 0;
    border-top: 3px solid $textColor;

    & .rights {
        font-size: $paragraph-font-size;
        margin: 32px 0;
        font-weight: bold;
        text-align: center;
    }
    & a {
        font-size: $paragraph-font-size;
        text-decoration: none;
        color: $linkColor;
        margin: 12px auto;
        transition:
            color 0.5s ease-in-out,
            text-decoration 0.5s ease-in-out;

        &:hover {
            color: $secondLinkColor;
            text-decoration: underline;
        }
    }
}
@media (prefers-reduced-motion: reduce) {
    * {
        transition: none;
        transform: scale(1);
        scroll-behavior: auto;
    }
}
