@import "baseColor";
@import "variables";
@import "scrollbarThumb";

html {
    scroll-behavior: smooth;
    font-size: $basic-font-size;
}
body {
    font-family: "Outfit", $basic-font-family;
    line-height: $basic-line-height;
    color: $textColor;
    background-color: $backgroundColor;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu-button {
    display: none;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: $navLinksColor;
    font-size: $paragraph-font-size;
    margin-left: auto;
    margin-right: 32px;
}
nav {
    display: flex;
    align-items: center;
    background-color: $linkColor;
    padding: 16px;
    border-bottom: 3px solid $navLinksColor;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition:
        transform 0.35s ease-in-out,
        background-color 0.6s ease-in-out;
    will-change: transform;

    &.nav-hidden {
        transform: translateY(-150px);
        background-color: rgba(255, 255, 255, 0.4);
    }

    & .nav-logo {
        display: flex;
        align-items: center;
        margin: 16px;
        cursor: default;

        & .logo-navbar {
            display: block;
            max-width: 100%;
            width: 80px;
            height: auto;
            outline: 1px solid $backgroundColor;
        }
    }
    & span {
        color: $navLinksColor;
        margin: 0 16px;
        font-size: $paragraph-font-size;
    }
    & ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        
        &.nav-open {
            display: flex;
            flex-direction: column;
        }
        & li {
            & a {
                font-size: $paragraph-font-size;
                display: block;
                text-decoration: none;
                color: $navLinksColor;
                margin: 0 16px;
                padding: 16px;
                transform: scale(1);
                transition:
                    background-color 0.5s ease-in-out,
                    color 0.5s ease-in-out,
                    transform 0.5s ease-in-out;
                border-radius: $borderRadius;

                &:hover {
                    background-color: $navLinksColor;
                    color: $linkColor;
                    transform: scale(1.05);
                }
                &:focus {
                    outline: $navLinksColor 2px solid;
                    box-shadow: 0 0 0 3px
                        lighten($color: $navLinksColor, $amount: 20%);
                }
            }
        }
    }
}
.header-start-page {
    display: flex;
    align-items: center;
    margin-top: 200px;
    padding-left: 200px;
    padding-bottom: 75px;
    border-bottom: 3px solid $textColor;
    gap: 100px;

    & h1 {
        font-size: $title-font-size;
    }
    & .logo-title {
        display: block;
        max-width: 100%;
        width: 410px;
        height: auto;
    }
}
.background {
    position: fixed;
    inset: 0;
    background-image: url("../img/png/Morpion_Fond_Ecran.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(5px);
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 75px 100px 75px 100px;
    padding-bottom: 50px;
}
.morpion-classic {
    & h2 {
        font-size: $subtitle-font-size;
        text-align: center;
    }
    & .grid {
        display: grid;
        margin-left: 100px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        height: 500px;
        width: 500px;
        max-width: 100%;
        border: 3px solid $textColor;

        & .cell {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: $paragraph-font-size;
            background-color: $backgroundColor;
            border: 3px solid $textColor;
            cursor: pointer;
            aspect-ratio: 1;
            font-size: 6rem;
            color: $textColor;
            transition:
                background-color 0.5s ease-in-out,
                border-color 0.5s ease-in-out;

            &:hover {
                border-color: $selectorColor;
                background-color: lighten(
                    $color: $backgroundColor,
                    $amount: 10%
                );
            }
            &:focus {
                outline: $selectorColor 2px solid;
                background-color: lighten(
                    $color: $backgroundColor,
                    $amount: 10%
                );
                box-shadow: 0 0 0 3px
                    lighten($color: $selectorColor, $amount: 20%);
            }
        }
    }
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 100px;
}
.player-choice {
    & h2 {
        font-size: $subtitle-font-size;
    }
    & button {
        display: inline-block;
        background-color: $backgroundBtnColor;
        border: 3px solid $borderBtnColor;
        border-radius: $borderRadius;
        cursor: pointer;
        padding: 16px 20px;
        font-size: $paragraph-font-size;
        font-family: "Outfit", $basic-font-family;
        transform: scale(1);
        transition:
            background-color 0.5s ease-in-out,
            border-color 0.5s ease-in-out,
            color 0.5s ease-in-out,
            transform 0.5s ease-in-out;

        &:hover {
            background-color: $borderBtnColor;
            border-color: $backgroundBtnColor;
            color: $backgroundBtnColor;
            transform: scale(1.05);
        }
        &:focus {
            outline: $selectorColor 2px solid;
            box-shadow: 0 0 0 3px
                lighten($color: $selectorColor, $amount: 20%);
        }
    }
    & p {
        font-size: $paragraph-font-size;
        font-weight: bold;
    }
}
.player-infos {
    & h2 {
        font-size: $subtitle-font-size;
    }
    & p {
        font-size: $paragraph-font-size;
        font-weight: bold;
    }
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & p {
        font-size: $paragraph-font-size;
        font-weight: bold;
    }

    & button {
        display: inline-block;
        background-color: $backgroundBtnColor;
        border: 3px solid $borderBtnColor;
        border-radius: $borderRadius;
        cursor: pointer;
        padding: 16px 20px;
        font-size: $paragraph-font-size;
        font-family: "Outfit", $basic-font-family;
        transform: scale(1);
        transition:
            background-color 0.5s ease-in-out,
            border-color 0.5s ease-in-out,
            color 0.5s ease-in-out,
            transform 0.5s ease-in-out;

        &:hover {
            background-color: $borderBtnColor;
            border-color: $backgroundBtnColor;
            color: $backgroundBtnColor;
            transform: scale(1.05);
        }
        &:focus {
            outline: $selectorColor 2px solid;
            box-shadow: 0 0 0 3px
                lighten($color: $selectorColor, $amount: 20%);
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: $buttonTextColor;
    padding: 50px 0;
    border-top: 3px solid $textColor;

    & .rights {
        font-size: $paragraph-font-size;
        margin: 32px 0;
        font-weight: bold;
        text-align: center;
    }
    & a {
        font-size: $paragraph-font-size;
        text-decoration: none;
        color: $linkColor;
        margin: 32px auto;
        transition:
            color 0.5s ease-in-out;

        &:hover {
            color: $secondLinkColor;
            text-decoration: underline;
        }
        &:focus{
            outline: $linkColor 2px solid;
            box-shadow: 0 0 0 3px
                lighten($color: $linkColor, $amount: 20%);
        }
    }
}
//Only for Javascript
#playerResult {
    transform: translateX(200%);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
}
#rechoosePlayerText {
    transform: translateX(200%);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
}
#turnInfos {
    transform: translateX(200%);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
}
#winsInfos {
    transform: translateX(200%);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
}
//Only for Javascript

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        transform: none !important;
        scroll-behavior: auto !important;
    }
}
// Responsive design for mobile devices under 600px
@media only screen and (max-width : 600px) { 
    #menuButton {
        display: block;
    }
    nav {
        padding: 6px;
        flex-wrap: wrap;
        
        & ul {
            width: calc(100% - 12px);
            height: auto;
            display: none;
            flex-direction: column;
        }
        &.nav-open {
            display: flex;
        }
        & .nav-logo {
            margin: 6px;
    
            & .logo-navbar {
                width: 60px;
            }
        }
        & span {
            margin: 0 8px;
            font-size: calc($paragraph-font-size - 4px);
        }
        & ul {
            display: none;
            flex-direction: column;
            
            & li {
                & a {
                    padding: 8px;
                    margin: 0 auto;
                    font-size: calc($paragraph-font-size - 4px);
                    border-radius: 0px;
                    
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }
    .header-start-page {
        flex-direction: column;
        margin-top: 150px;
        padding: 0 0 50px 0;
        gap: 30px;
    
        & h1 {
            font-size: calc($title-font-size - 10px)
        }
        & .logo-title {
            width: 200px;
        }
    }
    main {
        grid-template-columns: 1fr;
        margin: 50px 16px;
    }
    .morpion-classic {
        & h2 {
            font-size: calc($subtitle-font-size - 10px);
        }
        & .grid {
            margin: 0 auto;
            width: 300px;
            height: 300px;

            & .cell {
                font-size: 4rem;
            }
        }
    }
    aside {
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 50px;
    }
    .player-choice {
        text-align: center;
        
        & h2 {
            font-size: calc($subtitle-font-size - 6px);
        }
        & button {
            padding: 12px 16px;
            font-size: calc($paragraph-font-size - 4px);
        }
        & p {
            font-size: calc($paragraph-font-size - 4px);
        }
    }
    .player-infos {
        text-align: center;
        
        & h2 {
            font-size: calc($subtitle-font-size - 6px);
        }
        & p {
            font-size: calc($paragraph-font-size - 4px);
        }
    }
    .buttons {
        & button {
            padding: 12px 16px;
            font-size: calc($paragraph-font-size - 4px);
        }
        & p {
            text-align: center;
            font-size: calc($paragraph-font-size - 4px);
        }
    }
    footer {
        & .rights {
            font-size: calc($paragraph-font-size - 4px);
            margin: 16px 16px;
            text-align: center;
        }
        & a {
            font-size: calc($paragraph-font-size - 4px);
            margin: 16px auto;
        }
    }
}
// Responsive design for tablets between 601px and 992px
@media only screen and (min-width: 601px) and (max-width: 992px) {
    #menuButton {
        display: block;
    }
    nav {
        padding: 10px;
        flex-wrap: wrap;
        
        & ul {
            width: calc(100% - 17px);
            height: auto;
            display: none;
            flex-direction: column;
        }
        &.nav-open {
            display: flex;
        }
        & .nav-logo {
            margin: 6px;
    
            & .logo-navbar {
                width: 60px;
            }
        }
        & span {
            margin: 0 8px;
            font-size: calc($paragraph-font-size - 2px);
        }
        & ul {
            display: none;
            flex-direction: column;
            
            & li {
                & a {
                    padding: 8px;
                    margin: 0 8px;
                    font-size: calc($paragraph-font-size - 2px);
                    border-radius: 0px;
                    
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }
    .header-start-page {
        flex-direction: row;
        margin-top: 150px;
        padding: 0 0 50px 100px;
        gap: 40px;
        
        & h1 {
            font-size: calc($title-font-size - 5px);
        }
        & .logo-title {
            width: 270px;
        }
    }
    main {
        grid-template-columns: 1fr;
        margin: 50px 16px;
    }
    .morpion-classic {
        & h2 {
            font-size: calc($subtitle-font-size - 3px);
        }
        & .grid {
            margin: 0 auto;
            width: 400px;
            height: 400px;

            & .cell {
                font-size: 5rem;
            }
        }
    }
    aside {
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 35px;
    }
    .player-choice {
        text-align: center;
        
        & h2 {
            font-size: calc($subtitle-font-size - 3px);
        }
        & button {
            padding: 14px 18px;
            font-size: calc($paragraph-font-size - 2px);
        }
        & p {
            font-size: calc($paragraph-font-size - 2px);
        }
    }
    .player-infos {
        text-align: center;
        
        & h2 {
            font-size: calc($subtitle-font-size - 3px);
        }
        & p {
            font-size: calc($paragraph-font-size - 2px);
        }
    }
    .buttons {
        & button {
            padding: 14px 18px;
            font-size: calc($paragraph-font-size - 2px);
        }
        & p {
            text-align: center;
            font-size: calc($paragraph-font-size - 2px);
        }
    }
    footer {
        & .rights {
            font-size: calc($paragraph-font-size - 2px);
            margin: 16px;
        }
        & a {
            font-size: calc($paragraph-font-size - 2px);
            margin: 16px auto;
        }
    }
}
// Responsive design for desktops between 993px and 1200px
@media only screen and (min-width: 993px) and (max-width: 1200px) {
    #menuButton {
        display: none;
    }
    nav {
        padding: 12px;
    
        & .nav-logo {
            margin: 12px;
    
            & .logo-navbar {
                width: 70px;
            }
        }
        & span {
            font-size: calc($paragraph-font-size - 1px);
        }
        ul {
            & li {
                & a {
                    padding: 12px;
                    margin: 0 6px;
                    font-size: calc($paragraph-font-size - 1px);
                }
            }
        }
    }
    .header-start-page {
        flex-direction: row;
        margin-top: 150px;
        padding: 25px 0 65px 100px;
        gap: 50px;
        
        & h1 {
            font-size: calc($title-font-size - 2px);
        }
        & .logo-title {
            width: 350px;
        }
    }
    main {
        grid-template-columns: repeat(2, 1fr);
        margin: 15px 0;
        justify-content: center;
        align-items: center;
    }
    .morpion-classic {
        & h2 {
            font-size: calc($subtitle-font-size - 1px);
        }
        & .grid {
            width: 450px;
            height: 450px;
            margin: 0 auto;

            & .cell {
                font-size: 5.5rem;
            }
        }
    }
    aside {
        justify-content: flex-start;
        margin-left: 20px;
        padding: 0;
        margin-top: 25px;
    }
    .player-choice {
        text-align: flex-start;
    }
    footer {
        & .rights {
            font-size: calc($paragraph-font-size - 1px);
            margin: 16px 16px;
            text-align: center;
        }
        & a {
            font-size: calc($paragraph-font-size - 1px);
            margin: 16px auto;
        }
    }
}