@import url('variables.css');

::selection {
    background-color: var(--selector-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.4;
    color: var(--text-color);
    background-color: var(--background-color);
}

.menu-button {
    display: none;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: var(--nav-links-color);
    font-size: x-large;
    margin: 0 32px 0 auto;
}

nav {
    display: flex;
    align-items: center;
    background: var(--link-color);
    padding: 20px;
    border-bottom: 3px solid var(--nav-links-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, background-color 0.4s ease-in-out;
    will-change: transform, background-color;
}

nav.nav-hidden {
    transform: translateY(-100%);
    background-color: transparent;
}

.nav-logo {
    display: flex;
    align-items: center;
    cursor: default;
}

.logo-navbar {
    display: block;
    max-width: 100%;
    width: 80px;
    height: auto;
    outline: 1px solid var(--background-color);
}

nav span {
    color: var(--nav-links-color);
    margin: 0 0 0 16px;
    font-size: clamp(1.2rem, 1.8vw, 2.1rem);
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul.nav-open {
    display: flex;
    flex-direction: column;
}

nav ul li a {
    font-size: clamp(1.2rem, 1.8vw, 2.1rem);
    display: block;
    text-decoration: none;
    color: var(--nav-links-color);
    margin: 0 8px;
    padding: 16px;
    transition: background-color 0.4s cubic-bezier(0.23, 0.1, 0.32, 1), 
                color 0.4s cubic-bezier(0.23, 1, 0.320, 1), 
                transform 0.6s cubic-bezier(0.23, 1, 0.320, 1),
                box-shadow 0.4s cubic-bezier(0.23, 1, 0.320, 1);
    border-radius: 8px;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: var(--nav-links-color);
    color: var(--link-color);
    transform: translate(-4px, -4px);
    box-shadow: var(--nav-links-box-shadow);
}

nav ul li a:active {
    outline: 3px solid var(--nav-links-color);
    box-shadow: var(--nav-links-box-shadow);
    transform: translateX(4px);
}

.header-start-page {
    display: flex;
    align-items: center;
    padding: 200px 0 75px 200px;
    border-bottom: 3px solid var(--text-color);
    gap: 100px;
}

.header-start-page h1 {
    font-size: clamp(2.1rem, 4vw, 4.2rem);
}

.logo-title {
    display: block;
    max-width: 100%;
    width: 410px;
    height: auto;
}

.start-body-button {
    display: inline-block;
    font-size: clamp(1.2rem, 1.8vw, 2.1rem);
    background-color: var(--link-color);
    color: var(--button-text-color);
    text-decoration: none;
    border: 3px solid var(--button-border-color);
    border-radius: 16px;
    padding: 20px 26px;
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 30px;
    transition: background-color 0.4s cubic-bezier(0.23, 1, 0.320, 1), 
                color 0.4s cubic-bezier(0.23, 1, 0.320, 1), 
                border-color 0.4s cubic-bezier(0.23, 1, 0.320, 1), 
                transform 0.6s cubic-bezier(0.23, 1, 0.320, 1),
                box-shadow 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.start-body-button:hover {
    background-color: var(--button-border-color);
    color: var(--background-btn-color);
    border-color: var(--background-btn-color);
    transform: translate(-10px, -10px);
    box-shadow: var(--button-box-shadow);
}

.start-body-button:active {
    box-shadow: var(--button-box-shadow);
    transform: translate(-5px, -5px);
}

.start-body-button.start-body-hidden {
    transform: translateX(200%);
}

.background {
    position: fixed;
    inset: 0;
    background-image: url("../img/png/Morpion_Fond_Ecran.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(5px);
}

.start-body {
    margin: 40px 60px;
}

.start-body h2 {
    margin: 5px 0 20px 0;
    font-size: clamp(1.6rem, 2.4vw, 3.5rem);
}

.start-body p {
    font-size: clamp(1.2rem, 1.8vw, 2.1rem);
    margin: 0 0 20px 0;
}

.mods-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 45px;
    margin: 70px 30px;
    place-content: center;
}

.card-mode {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--link-color);
    border-radius: 16px;
    background-color: var(--background-color);
    text-align: center;
    padding-bottom: 20px;
}

.card-mode h3 {
    font-size: clamp(1.6rem, 1.9vw, 2.2rem);
    margin: 20px 0;
    padding: 0;
}

.card-mode p {
    font-size: clamp(1.2rem, 1.8vw, 2.1rem);
    margin: 0 0 20px 0;
}

.card-mode a {
    display: inline-block;
    font-size: clamp(1.2rem, 1.8vw, 2.1rem);
    margin: 20px 50px;
    padding: 20px 26px;
    background-color: var(--link-color);
    text-decoration: none;
    color: var(--button-text-color);
    border: 3px solid var(--background-btn-color);
    border-radius: 16px;
    transition: background-color 0.4s cubic-bezier(0.23, 1, 0.320, 1), 
                color 0.4s cubic-bezier(0.23, 1, 0.320, 1), 
                border-color 0.4s cubic-bezier(0.23, 1, 0.320, 1), 
                transform 0.6s cubic-bezier(0.23, 1, 0.320, 1),
                box-shadow 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-mode a:hover {
    background-color: var(--button-text-color);
    color: var(--link-color);
    border-color: var(--link-color);
    transform: translate(-10px, -10px);
    box-shadow: var(--button-box-shadow);
}

.card-mode a:active {
    box-shadow: var(--button-box-shadow);
    transform: translate(-5px, -5px);
}

footer {
    display: flex;
    padding: 20px 60px;
    flex-direction: column;
    border-top: 3px solid var(--text-color);
    background-color: var(--button-text-color);
}

footer a {
    font-size: clamp(1.2rem, 1.8vw, 2.1rem);
    text-decoration: none;
    color: var(--background-btn-color);
    margin: 32px auto;
    transition: color 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

footer b {
    font-size: clamp(1.2rem, 1.8vw, 2.1rem);
    text-align: center;
    margin: 32px 0 0 0;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        scroll-behavior: auto !important;
        transform: none !important;
    }
}

@media (max-width: 600px) {
    #menuButton {
        display: block;
    }

    nav {
        padding: 10px;
        flex-wrap: wrap;
    }

    nav ul {
        width: calc(100% - 25px);
        height: auto;
        display: none;
        flex-direction: column;
    }

    nav ul.nav-open {
        display: flex;
    }

    .logo-navbar {
        width: 60px;
    }

    nav span {
        margin: 0 0 0 16px;
    }

    nav ul li:nth-child(1) {
        margin: 8px 0 0 0;
    }

    nav ul li a {
        padding: 8px;
        margin: 0 auto;
        border-radius: 0px;
    }

    nav ul li a:hover {
        transform: none;
    }

    .header-start-page {
        flex-direction: column;
        padding: 130px 0 0 0;
        gap: 30px;
    }
    
    .header-start-page h1 {
        margin: 0 0 30px 0;
    }

    .logo-title {
        width: 200px;
    }

    .start-body-button {
        padding: 16px 22px;
    }

    .start-body {
        margin: 25px 30px;
    }

    .start-body h2 {
        margin: 10px 0 0 0;
    }

    .mods-cards {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .card-mode a {
        margin: 10px 80px;
        padding: 16px 22px;
    }

    footer {
        padding: 15px 0 30px 0;
    }

    footer a {
        margin: 16px auto;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    #menuButton {
        display: block;
    }

    nav {
        padding: 12px;
        flex-wrap: wrap;
    }

    nav ul {
        width: calc(100% - 15px);
        height: auto;
        display: none;
        flex-direction: column;
    }

    nav ul.nav-open {
        display: flex;
    }

    .logo-navbar {
        width: 65px;
    }
    
    nav ul li:nth-child(1) {
        margin: 8px 0 0 0;
    }

    nav ul li a {
        padding: 8px;
        border-radius: 0px;
    }

    nav ul li a:hover {
        transform: none;
    }

    .header-start-page {
        padding: 150px 50px 50px 50px;
        gap: 80px;
    }

    .logo-title {
        width: 270px;
    }

    .start-body-button {
        padding: 16px 20px;
    }

    .start-body {
        margin: 30px 45px;
    }

    .mods-cards {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .card-mode a {
        margin: 15px 210px;
        padding: 16px 20px;
    }

    footer a {
        margin: 16px auto;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #menuButton {
        display: none;
    }

    nav {
        padding: 15px;
    }

    .logo-navbar {
        width: 75px;
    }

    nav span {
        margin: 0 0 0 16px;
    }

    nav ul li a {
        padding: 12px;
        margin: 0 8px;
    }

    .header-start-page {
        padding: 150px 0 65px 100px;
        gap: 50px;
    }

    .logo-title {
        width: 360px;
    }

    .start-body {
        margin: 30px 45px;
    }

    .mods-cards {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 30px;
    }

    .card-mode:nth-child(3) {
        grid-column: 1 / -1;
        margin: 0 100px;
    }

    .card-mode a {
        margin: 20px 65px;
    }

    .card-mode:nth-child(3) a {
        margin: 20px 170px;
    }
}
