/* Background color for the main container */
/* Primary text color */
/* Color for navigations links */
/* Default color for links (link and visited) */
/* Link color for hover and actived  */
/* Background color for buttons */
/* Text color for buttons */
/* Border color for buttons */
/* Color for selectors */
/* Basic size for all text elements */
/* Size for <h1> titles */
/* Size for <h2> titles */
/* Size for <h3> titles */
/*Size for <p> elements */
/* Basic border radius for buttons, containers, links backgrounds, etc */
/* Basic and imported font family for all text elements */
* {
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

::-moz-selection {
  background-color: #ADB6C4;
}

::selection {
  background-color: #ADB6C4;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  color: #FFFDED;
  background-color: #001B2E;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFEFD3;
  padding: 16px;
  border-bottom: 3px solid #294C60;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: background-color 0.6s ease-in-out, -webkit-transform 0.35s ease-in-out;
  transition: background-color 0.6s ease-in-out, -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, background-color 0.6s ease-in-out;
  transition: transform 0.35s ease-in-out, background-color 0.6s ease-in-out, -webkit-transform 0.35s ease-in-out;
  will-change: transform;
}
nav.nav-hidden {
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  background-color: rgba(255, 255, 255, 0.4);
}
nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px;
  cursor: default;
}
nav .nav-logo .logo-navbar {
  display: block;
  max-width: 100%;
  width: 80px;
  height: auto;
  outline: 1px solid #001B2E;
}
nav span {
  color: #294C60;
  margin: 0 16px;
  font-size: 1.5rem;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #294C60;
  font-size: 1.5rem;
  margin: 0 16px;
  padding: 16px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  border-radius: 16px;
}
nav ul li a:hover {
  background-color: #294C60;
  color: #FFEFD3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
nav ul li a:focus {
  outline: #294C60;
  -webkit-box-shadow: 0 0 0 3px rgb(71.5255474453, 132.5839416058, 167.4744525547);
          box-shadow: 0 0 0 3px rgb(71.5255474453, 132.5839416058, 167.4744525547);
}

.header-start-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
  padding-left: 200px;
  padding-bottom: 75px;
  border-bottom: 3px solid #FFFDED;
  gap: 100px;
}
.header-start-page h1 {
  font-size: 2.4rem;
}
.header-start-page .logo-title {
  display: block;
  max-width: 100%;
  width: 410px;
  height: auto;
}

.start-body-button {
  font-size: 1.5rem;
  background: #FFEFD3;
  color: #252422;
  text-decoration: none;
  border: 3px solid #2F2D2E;
  border-radius: 16px;
  padding: 16px 20px;
  position: fixed;
  z-index: 10;
  right: 30px;
  bottom: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.start-body-button:hover {
  background-color: #252422;
  color: #FFEFD3;
  border-color: #FFEFD3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.start-body-button:focus {
  outline: #294C60;
  -webkit-box-shadow: 0 0 0 3px rgb(71.5255474453, 132.5839416058, 167.4744525547);
          box-shadow: 0 0 0 3px rgb(71.5255474453, 132.5839416058, 167.4744525547);
}

.background {
  position: fixed;
  inset: 0;
  background-image: url("../img/png/Morpion_Fond_Ecran.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.start-body, .end-body, .middle-body {
  text-align: center;
  padding: 35px 150px;
}
.start-body h2, .end-body h2, .middle-body h2 {
  font-size: 2.1rem;
}
.start-body p, .end-body p, .middle-body p {
  font-size: 1.5rem;
}

.middle-body {
  border-bottom: 3px solid #FFFDED;
}

.end-body a {
  font-size: 1.5rem;
  display: inline-block;
  text-decoration: none;
  color: #252422;
  background-color: #FFEFD3;
  cursor: pointer;
  padding: 16px 20px;
  margin: 32px 0;
  border: 3px solid #2F2D2E;
  border-radius: 16px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: background-color 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.end-body a:hover {
  background-color: #2F2D2E;
  color: #FFEFD3;
  border-color: #FFEFD3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.end-body a:focus {
  outline: #294C60;
  -webkit-box-shadow: 0 0 0 3px rgb(71.5255474453, 132.5839416058, 167.4744525547);
          box-shadow: 0 0 0 3px rgb(71.5255474453, 132.5839416058, 167.4744525547);
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #252422;
  padding: 50px 0;
  border-top: 3px solid #FFFDED;
}
footer .contact-list h3 {
  text-align: center;
  font-size: 1.8rem;
}
footer .contact-list span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin-left: 32px;
}
footer .contact-list span img {
  max-width: 100%;
  width: 60px;
  height: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  margin-right: 16px;
}
footer .contact-list span img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}
footer .explanation-list h3 {
  text-align: center;
  font-size: 1.8rem;
}
footer .explanation-list dl {
  text-align: center;
  font-size: 1.5rem;
}
footer .explanation-list dt {
  font-weight: bold;
  margin: 12px 0;
}
footer .credits-list h3 {
  text-align: center;
  font-size: 1.8rem;
}
footer .credits-list ul {
  list-style-type: none;
  padding: 0;
  margin: 12px 16px;
  font-size: 1.5rem;
}
footer .credits-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 16px 0;
}
footer .credits-list ul li a {
  color: #FFEFD3;
  font-weight: bold;
  margin: 12px auto;
  -webkit-transition: color 0.5s ease-in-out, -webkit-text-decoration 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, -webkit-text-decoration 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out, -webkit-text-decoration 0.5s ease-in-out;
  text-decoration: none;
}
footer .credits-list ul li a:hover {
  color: #FFC49B;
  text-decoration: underline;
}
footer .rights {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 64px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-transition: none;
    transition: none;
    scroll-behavior: auto;
  }
}