:root {
    --background-color: #001B2E;
    --text-color: #FFFDED;
    --nav-links-color: #294C60;
    --link-color: #FFEFD3;
    --secondary-link-color: #FFC49D;
    --background-btn-color: #FFEFD3;
    --button-text-color: #252422;
    --button-border-color: #2F2D2E;
    --selector-color: #ADB6C4;
}

::selection {
    background-color: var(--selector-color);
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.4;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-button {
    display: none;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: var(--nav-links-color);
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: 32px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--link-color);
    padding: 16px;
    border-bottom: 3px solid var(--nav-links-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    transition: transform 0.35s ease-in-out, background-color 0.6s ease-in-out;
    will-change: transform;
}

nav.nav-hidden {
    transform: translateY(-150px);
    background-color: rgba(255, 255, 255, 0.4);
}

.nav-logo {
    display: flex;
    align-items: center;
    margin: 16px;
    cursor: default;
}

.logo-navbar {
    display: block;
    max-width: 100%;
    width: 80px;
    height: auto;
    outline: 1px solid var(--background-color);
}

nav span {
    color: var(--nav-links-color);
    margin-left: 8px;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

nav ul.nav-open {
    display: flex;
    flex-direction: column;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--nav-links-color);
    font-size: 1.5rem;
    margin: 0 16px;
    padding: 16px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out;
    border-radius: 16px;
}

nav ul li a:hover {
    background-color: var(--nav-links-color);
    color: var(--link-color);
    transform: scale(1.05);
}

nav ul li a:focus {
    outline: var(--nav-links-color) 2px solid;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
}

.header-start-page {
    display: flex;
    align-items: center;
    margin-top: 200px;
    padding: 0 0 75px 200px;
    border-bottom: 3px solid var(--text-color);
    gap: 100px;
}

.header-start-page h1 {
    font-size: 2.4rem;
}

.header-start-page .logo-title {
    display: block;
    max-width: 100%;
    width: 410px;
    height: auto;
}

.start-body-button {
    display: inline-block;
    font-size: 1.5rem;
    background-color: var(--background-btn-color);
    color: var(--button-text-color);
    text-decoration: none;
    border: 3px solid var(--button-border-color);
    border-radius: 16px;
    padding: 16px 20px;
    position: fixed;
    z-index: 10;
    right: 30px;
    bottom: 30px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.start-body-button:hover {
    background-color: var(--button-border-color);
    color: var(--background-btn-color);
    border-color: var(--link-color);
    transform: scale(1.05);
}

.start-body-button:focus {
    outline: var(--selector-color) 2px solid;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
}

.start-body-button.start-body-hidden {
    transform: translateX(200%);
}

.background {
    position: fixed;
    inset: 0;
    background-image: url("../img/png/Morpion_Fond_Ecran.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(5px);
}

.start-body,
.end-body,
.middle-body {
    text-align: center;
    padding: 20px 150px;
}

.start-body h2,
.end-body h2,
.middle-body h2 {
    font-size: 2.1rem;
}

.start-body p,
.end-body p,
.middle-body p {
    font-size: 1.5rem;
}

.end-body a {
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: none;
    color: var(--button-text-color);
    background-color: var(--background-btn-color);
    cursor: pointer;
    padding: 16px 20px;
    margin: 32px 0;
    border: 3px solid var(--button-border-color);
    border-radius: 16px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.end-body a:hover {
    background-color: var(--button-border-color);
    color: var(--background-btn-color);
    border-color: var(--background-btn-color);
    transform: scale(1.05);
}

.end-body a:focus {
    outline: var(--selector-color) 2px solid;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4);
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    background-color: var(--button-text-color);
    padding: 50px 30px;
    border-top: 3px solid var(--text-color);
}

.contact-list h3 {
    text-align: center;
    font-size: 1.8rem;
}

.contact-list p {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    margin-left: 32px;
}

.contact-list p img {
    display: block;
    max-width: 100%;
    width: 80px;
    height: auto;
    transition: transform 0.5s ease-in-out;
    margin: auto;
}

.contact-list p img:hover {
    transform: scale(1.1);
}

.contact-list p img:focus {
    outline: var(--text-color) 2px solid;
    box-shadow: 0 0 0 3px white;
}

.explanation-list h3 {
    text-align: center;
    font-size: 1.8rem;
}

.explanation-list dl {
    font-size: 1.5rem;
}

.explanation-list dt {
    text-align: center;
    font-weight: bold;
    margin: 12px 0;
}

.explanation-list dd {
    text-align: center;
    margin: 0 0 16px 0;
}

.credits-list h3 {
    text-align: center;
    font-size: 1.8rem;
}

.credits-list ul {
    list-style-type: none;
    padding: 0;
    margin: 12px 16px;
    font-size: 1.5rem;
}

.credits-list ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 16px 0;
}

.credits-list ul li a {
    color: var(--background-btn-color);
    font-weight: bold;
    margin: 12px auto;
    transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
    text-decoration: none;
}

.credits-list ul li a:hover {
    color: var(--secondary-link-color);
    text-decoration: underline;
}

.credits-list ul li a:focus {
    outline: var(--background-btn-color) 2px solid;
    box-shadow: 0 0 0 3px white;
}

.rights {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 64px;
    grid-column: 1 / -1;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
        scroll-behavior: auto !important;
        transform: none !important;
    }
}

@media (max-width: 600px) {
    #menuButton {
        display: block;
    }

    nav {
        padding: 6px;
        flex-wrap: wrap;
    }

    nav ul {
        width: calc(100% - 12px);
        height: auto;
        display: none;
        flex-direction: column;
    }

    nav ul.nav-open {
        display: flex;
    }

    .logo-navbar {
        width: 60px;
    }

    nav span {
        font-size: calc(1.5rem - 4px);
    }

    nav ul li a {
        padding: 8px;
        margin: 0 auto;
        font-size: calc(1.5rem - 4px);
        border-radius: 0px;
    }

    nav ul li a:hover {
        transform: none;
    }

    .header-start-page {
        flex-direction: column;
        margin-top: 150px;
        padding: 0 0 25px 0;
        gap: 30px;
    }

    .header-start-page h1 {
        font-size: calc(2.4rem - 4px);
    }

    .header-start-page .logo-title {
        width: 200px;
    }

    .start-body-button {
        padding: 12px 16px;
        font-size: calc(1.5rem - 4px);
    }

    .start-body,
    .middle-body,
    .end-body {
        padding: 0 25px;
        flex-wrap: wrap;
    }

    .start-body h2,
    .middle-body h2,
    .end-body h2 {
        font-size: calc(2.1rem + 5px);
        margin-top: 50px;
    }

    .start-body p,
    .middle-body p,
    .end-body p {
        font-size: calc(1.5rem - 4px);
    }

    .end-body a {
        font-size: calc(1.5rem - 4px);
        padding: 12px 16px;
    }

    footer {
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 10px 0;
    }

    .contact-list h3 {
        font-size: calc(1.8rem - 5px);
        padding: 0 16px;
    }

    .contact-list p {
        justify-content: center;
        margin: 16px auto;
        font-size: calc(1.5rem - 4px);
    }

    .explanation-list h3 {
        font-size: calc(1.8rem - 5px);
        padding: 0 16px;
    }

    .explanation-list dl {
        justify-content: center;
    }
    
    .explanation-list dt {
        font-size: calc(1.5rem + 2px);
    }
    
    .explanation-list dd {
        font-size: calc(1.5rem - 4px);
        padding: 0 16px;
    }

    .credits-list h3 {
        font-size: calc(1.8rem - 5px);
        padding: 0 16px;
    }

    .credits-list ul {
        font-size: calc(1.5rem + 2px);
    }

    .credits-list ul li a {
        margin: 12px auto;
    }

    .rights {
        margin: 16px 16px;
        font-size: calc(1.5rem - 6px);
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    #menuButton {
        display: block;
    }

    nav {
        padding: 10px;
        flex-wrap: wrap;
    }

    nav ul {
        width: calc(100% - 17px);
        height: auto;
        display: none;
        flex-direction: column;
    }

    nav ul.nav-open {
        display: flex;
    }

    .logo-navbar {
        width: 65px;
    }

    nav span {
        font-size: calc(1.5rem - 3px);
    }

    nav ul li a {
        padding: 8px;
        margin: 0 8px;
        font-size: calc(1.5rem - 2px);
        border-radius: 0px;
    }

    nav ul li a:hover {
        transform: none;
    }

    .header-start-page {
        flex-direction: row;
        margin-top: 150px;
        padding: 0 0 50px 50px;
        gap: 40px;
    }

    .header-start-page h1 {
        font-size: calc(2.4rem - 3px);
    }

    .header-start-page .logo-title {
        width: 270px;
    }

    .start-body-button {
        padding: 12px 16px;
        font-size: calc(1.5rem - 2px);
    }

    .start-body,
    .middle-body,
    .end-body {
        padding: 0 50px;
        flex-wrap: wrap;
    }

    .start-body h2,
    .middle-body h2,
    .end-body h2 {
        font-size: calc(2.1rem + 3px);
        margin-top: 50px;
    }

    .start-body p,
    .middle-body p,
    .end-body p {
        font-size: calc(1.5rem - 2px);
    }

    .end-body a {
        font-size: calc(1.5rem - 2px);
        padding: 14px 18px;
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-evenly;
        padding: 20px 10px;
    }

    .contact-list h3 {
        font-size: calc(1.8rem - 5px);
    }

    .contact-list p {
        margin-top: 24px;
        margin-left: 10px;
        font-size: calc(1.5rem - 5px);
    }

    .explanation-list h3 {
        font-size: calc(1.8rem - 5px);
    }

    .explanation-list dl {
        justify-content: center;
    }
    
    .explanation-list dt {
        font-size: calc(1.5rem - 2px);
    }
    
    .explanation-list dd {
        font-size: calc(1.5rem - 6px);
        padding: 0 16px;
    }

    .credits-list h3 {
        font-size: calc(1.8rem - 5px);
    }

    .credits-list ul {
        font-size: calc(1.5rem - 2px);
    }

    .credits-list ul li a {
        margin: 12px auto;
    }

    .rights {
        margin: 16px 16px;
        font-size: calc(1.5rem - 2px);
        align-self: center;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    #menuButton {
        display: none;
    }

    nav {
        padding: 15px;
    }

    .logo-navbar {
        width: 75px;
    }

    nav span {
        margin-left: 8px;
        font-size: calc(1.5rem - 3px);
    }

    nav ul li a {
        padding: 12px;
        margin: 0 6px;
        font-size: calc(1.5rem - 3px);
    }

    .header-start-page {
        flex-direction: row;
        margin-top: 150px;
        padding: 25px 0 65px 100px;
        gap: 50px;
    }

    .header-start-page h1 {
        font-size: calc(2.4rem - 2px);
    }

    .header-start-page .logo-title {
        width: 360px;
    }

    .start-body-button {
        padding: 14px 18px;
        font-size: calc(1.5rem - 1px);
    }

    .start-body,
    .middle-body,
    .end-body {
        padding: 0 45px;
        flex-wrap: wrap;
    }

    .start-body h2,
    .middle-body h2,
    .end-body h2 {
        font-size: calc(2.1rem - 1px);
        margin-top: 50px;
    }

    .start-body p,
    .middle-body p,
    .end-body p {
        font-size: calc(1.5rem - 1px);
    }

    .end-body a {
        font-size: calc(1.5rem - 1px);
        padding: 16px 20px;
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-list h3 {
        font-size: calc(1.8rem - 1px);
    }

    .contact-list p {
        margin: 12px 16px;
        font-size: calc(1.5rem - 1px);
    }

    .explanation-list h3 {
        font-size: calc(1.8rem - 1px);
    }

    .explanation-list dl {
        justify-content: center;
    }
    
    .explanation-list dt {
        font-size: calc(1.5rem + 4px);
    }
    
    .explanation-list dd {
        font-size: calc(1.5rem - 2px);
        padding: 0 16px;
    }

    .credits-list h3 {
        font-size: calc(1.8rem - 1px);
    }

    .credits-list ul {
        font-size: calc(1.5rem - 1px);
    }

    rights {
        font-size: 1.5rem;
        margin: 28px 16px;
        text-align: center;
    }
}
