/* Background color for the main container */
/* Primary text color */
/* Color for navigations links */
/* Default color for links (link and visited) */
/* Link color for hover and actived  */
/* Background color for buttons */
/* Text color for buttons */
/* Border color for buttons */
/* Color for selectors */
/* Basic size for all text elements */
/* Size for <h1> titles */
/* Size for <h2> titles */
/* Size for <h3> titles */
/*Size for <p> elements */
/* Basic border radius for buttons, containers, links backgrounds, etc */
/* Basic and imported font family for all text elements */
* {
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

::-moz-selection {
  background-color: #ADB6C4;
}

::selection {
  background-color: #ADB6C4;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  color: #FFFDED;
  background: #001B2E;
  margin: 0;
  padding: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFEFD3;
  padding: 16px;
  border-bottom: 3px solid #294C60;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: background-color 0.6s ease-in-out, -webkit-transform 0.35s ease-in-out;
  transition: background-color 0.6s ease-in-out, -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, background-color 0.6s ease-in-out;
  transition: transform 0.35s ease-in-out, background-color 0.6s ease-in-out, -webkit-transform 0.35s ease-in-out;
  will-change: transform;
}
nav.nav-hidden {
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  background-color: rgba(255, 255, 255, 0.4);
}
nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px;
  cursor: default;
}
nav .nav-logo .logo-navbar {
  max-width: 100%;
  width: 50px;
  height: auto;
}
nav span {
  color: #294C60;
  margin: 0 16px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #294C60;
  margin: 0 16px;
  padding: 16px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  border-radius: 16px;
}
nav ul li a:hover {
  background-color: #294C60;
  color: #FFEFD3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
nav ul li a:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px rgb(71.5255474453, 132.5839416058, 167.4744525547);
          box-shadow: 0 0 0 2px rgb(71.5255474453, 132.5839416058, 167.4744525547);
}

.header-start-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10vh;
  padding: 10vh 12vw;
}
.header-start-page h1 {
  font-size: clamp(2rem, 3.5vw, 4rem);
  margin-left: 10%;
}
.header-start-page .logo-title {
  max-width: 100%;
  width: 410px;
  height: auto;
}

.start-body-button {
  background: #FFEFD3;
  color: #252422;
  text-decoration: none;
  border: 3px solid #2F2D2E;
  border-radius: 16px;
  padding: 16px 20px;
  position: fixed;
  z-index: 10;
  right: 3vw;
  bottom: 3vh;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: background 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.start-body-button:hover {
  background: #252422;
  color: #FFEFD3;
  border-color: #FFEFD3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.start-body-button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px rgb(71.5255474453, 132.5839416058, 167.4744525547);
          box-shadow: 0 0 0 2px rgb(71.5255474453, 132.5839416058, 167.4744525547);
}

hr {
  border: 3px solid #FFFDED;
  margin-top: 20px;
}

.background {
  position: fixed;
  inset: 0;
  background-image: url("../img/png/Morpion_Fond_Ecran.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.start-body, .end-body, .middle-body {
  text-align: center;
  margin: 10vh 10vw;
}
.start-body h2, .end-body h2, .middle-body h2 {
  font-size: clamp(1.7rem, 2.5vw, 3rem);
  margin-bottom: 32px;
}
.start-body p, .end-body p, .middle-body p {
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
  margin-bottom: 32px;
}

.end-body a {
  display: inline-block;
  text-decoration: none;
  color: #252422;
  background-color: #FFEFD3;
  cursor: pointer;
  padding: 16px 20px;
  margin-top: 32px;
  border: 3px solid #2F2D2E;
  border-radius: 16px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: background-color 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.end-body a:hover {
  background-color: #2F2D2E;
  color: #FFEFD3;
  border-color: #FFEFD3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.end-body a:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px rgb(71.5255474453, 132.5839416058, 167.4744525547);
          box-shadow: 0 0 0 3px rgb(71.5255474453, 132.5839416058, 167.4744525547);
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #252422;
  padding: 5vh 0;
  border-top: 4px solid #FFFDED;
}
footer .contact-list h3 {
  text-align: center;
  font-size: 1.5rem;
}
footer .contact-list span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  margin-left: 32px;
}
footer .contact-list span img {
  max-width: 100%;
  height: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  margin-right: 16px;
}
footer .contact-list span img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}
footer .explanation-list h3 {
  text-align: center;
  font-size: 1.5rem;
}
footer .explanation-list dl {
  text-align: center;
  font-size: 1.2rem;
}
footer .explanation-list dt {
  font-weight: bold;
  margin: 12px 0;
}
footer .credits-list h3 {
  text-align: center;
  font-size: 1.5rem;
}
footer .credits-list ul {
  list-style-type: none;
  padding: 0;
  margin: 12px 16px;
  font-size: 1.2rem;
}
footer .credits-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 16px 0;
}
footer .credits-list ul li a {
  color: #FFEFD3;
  font-weight: bold;
  margin: 12px 0;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
footer .credits-list ul li a:link {
  color: #FFEFD3;
}
footer .credits-list ul li a:visited {
  color: #FFC49B;
}
footer .credits-list ul li a:hover {
  color: #FFEFD3;
}
footer .credits-list ul li a:active {
  color: #FFC49B;
}
footer .rights {
  margin: 32px 0;
  font-weight: bold;
}