/* Background color for the main container */
/* Primary text color */
/* Color for navigations links */
/* Default color for links (link and visited) */
/* Link color for hover and actived  */
/* Background color for buttons */
/* Text color for buttons */
/* Border color for buttons */
/* Color for selectors */
/* Basic size for all text elements */
/* Size for <h1> titles */
/* Size for <h2> titles */
/* Size for <h3> titles */
/*Size for <p> elements */
/* Basic border radius for buttons, containers, links backgrounds, etc */
/* Basic and imported font family for all text elements */
* {
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

::-moz-selection {
  background-color: #ADB6C4;
}

::selection {
  background-color: #ADB6C4;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  color: #FFFDED;
  background: #001B2E;
  margin: 0;
  padding: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFEFD3;
  padding: 16px;
  border-bottom: 3px solid #294C60;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: background-color 0.6s ease-in-out, -webkit-transform 0.35s ease-in-out;
  transition: background-color 0.6s ease-in-out, -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, background-color 0.6s ease-in-out;
  transition: transform 0.35s ease-in-out, background-color 0.6s ease-in-out, -webkit-transform 0.35s ease-in-out;
  will-change: transform;
}
nav.nav-hidden {
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  background-color: rgba(255, 255, 255, 0.4);
}
nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px;
  cursor: default;
}
nav .nav-logo .logo-navbar {
  max-width: 100%;
  width: 50px;
  height: auto;
}
nav span {
  color: #294C60;
  margin: 0 16px;
}

.background {
  position: fixed;
  inset: 0;
  background-image: url("../img/png/Morpion_Fond_Ecran.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.start-body {
  text-align: center;
  margin: 20vh 10vw 0 10vw;
}
.start-body h1 {
  font-size: clamp(2rem, 3.5vw, 4rem);
  margin-bottom: 32px;
}
.start-body p {
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);
  margin-bottom: 32px;
}

.languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.languages .languages-list {
  margin: 10vh 10vw 10vh 10vw;
}
.languages .languages-list h2 {
  font-size: clamp(1.7rem, 2.5vw, 3rem);
  margin-bottom: 32px;
}
.languages .languages-list a {
  display: inline-block;
  text-decoration: none;
  color: #252422;
  background-color: #FFEFD3;
  cursor: pointer;
  padding: 16px 20px;
  margin: 32px 0;
  border: 3px solid #2F2D2E;
  border-radius: 16px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: background 0.5s, color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.languages .languages-list a:hover {
  background: #252422;
  color: #FFEFD3;
  border-color: #FFEFD3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.languages .languages-list a:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 2px rgb(71.5255474453, 132.5839416058, 167.4744525547);
          box-shadow: 0 0 0 2px rgb(71.5255474453, 132.5839416058, 167.4744525547);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5vh 0;
  border-top: 4px solid #FFFDED;
  background-color: #252422;
  text-align: center;
  height: 100%;
}
footer .rights {
  margin: 32px 0;
  font-weight: bold;
}