/* Background color for the main container */
/* Primary text color */
/* Color for navigations links */
/* Default color for links (link and visited) */
/* Link color for hover and actived  */
/* Background color for buttons */
/* Text color for buttons */
/* Border color for buttons */
/* Color for selectors */
/* Basic size for all text elements */
/* Size for <h1> titles */
/* Size for <h2> titles */
/* Size for <h3> titles */
/*Size for <p> elements */
/* Basic border radius for buttons, containers, links backgrounds, etc */
/* Basic and imported font family for all text elements */
* {
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

::-moz-selection {
  background-color: #ADB6C4;
}

::selection {
  background-color: #ADB6C4;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
  color: #FFFDED;
  background: #001B2E;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFEFD3;
  padding: 16px;
  border-bottom: 3px solid #294C60;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  -webkit-transition: background-color 0.6s ease-in-out, -webkit-transform 0.35s ease-in-out;
  transition: background-color 0.6s ease-in-out, -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, background-color 0.6s ease-in-out;
  transition: transform 0.35s ease-in-out, background-color 0.6s ease-in-out, -webkit-transform 0.35s ease-in-out;
  will-change: transform;
}
nav.nav-hidden {
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  background-color: rgba(255, 255, 255, 0.4);
}
nav .nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px;
  cursor: default;
}
nav .nav-logo .logo-navbar {
  display: block;
  max-width: 100%;
  width: 80px;
  height: auto;
  outline: 1px solid #001B2E;
}
nav span {
  color: #294C60;
  margin: 0 16px;
  font-size: 1.5rem;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
nav ul li a {
  font-size: 1.5rem;
  display: block;
  text-decoration: none;
  color: #294C60;
  margin: 0 16px;
  padding: 16px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  border-radius: 16px;
}
nav ul li a:hover {
  background-color: #294C60;
  color: #FFEFD3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
nav ul li a:focus {
  outline: #294C60;
  -webkit-box-shadow: 0 0 0 3px rgb(71.5255474453, 132.5839416058, 167.4744525547);
          box-shadow: 0 0 0 3px rgb(71.5255474453, 132.5839416058, 167.4744525547);
}

.header-start-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 200px;
  padding-left: 200px;
  padding-bottom: 75px;
  border-bottom: 3px solid #FFFDED;
  gap: 100px;
}
.header-start-page h1 {
  font-size: 2.4rem;
}
.header-start-page .logo-title {
  display: block;
  max-width: 100%;
  width: 410px;
  height: auto;
}

.background {
  position: fixed;
  inset: 0;
  background-image: url("../img/png/Morpion_Fond_Ecran.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin: 75px 100px 75px 100px;
  padding-bottom: 50px;
}

.morpion-classic h2 {
  font-size: 2.1rem;
  text-align: center;
}
.morpion-classic .grid {
  display: -ms-grid;
  display: grid;
  margin-left: 100px;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  height: 500px;
  width: 500px;
  max-width: 100%;
  border: 3px solid #FFFDED;
}
.morpion-classic .grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.morpion-classic .grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.morpion-classic .grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.morpion-classic .grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.morpion-classic .grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.morpion-classic .grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.morpion-classic .grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.morpion-classic .grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.morpion-classic .grid > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.morpion-classic .grid .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  background-color: #001B2E;
  border: 3px solid #FFFDED;
  cursor: pointer;
  aspect-ratio: 1;
  font-size: 6rem;
  color: #FFFDED;
  -webkit-transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}
.morpion-classic .grid .cell:hover {
  border-color: #ADB6C4;
  background-color: rgb(0, 56.9347826087, 97);
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 100px;
}

.player-choice h2 {
  font-size: 2.1rem;
}
.player-choice button {
  background-color: #FFEFD3;
  border: 3px solid #2F2D2E;
  border-radius: 16px;
  cursor: pointer;
  padding: 16px 20px;
  font-size: 1.5rem;
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.player-choice button:hover {
  background-color: #2F2D2E;
  border-color: #FFEFD3;
  color: #FFEFD3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.player-choice p {
  font-size: 1.5rem;
  font-weight: bold;
}

.player-infos h2 {
  font-size: 2.1rem;
}
.player-infos p {
  font-size: 1.5rem;
  font-weight: bold;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.buttons p {
  font-size: 1.5rem;
  font-weight: bold;
}
.buttons button {
  background-color: #FFEFD3;
  border: 3px solid #2F2D2E;
  border-radius: 16px;
  cursor: pointer;
  padding: 16px 20px;
  font-size: 1.5rem;
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, color 0.5s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.buttons button:hover {
  background-color: #2F2D2E;
  border-color: #FFEFD3;
  color: #FFEFD3;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #252422;
  padding: 50px 0;
  border-top: 3px solid #FFFDED;
}
footer .rights {
  font-size: 1.5rem;
  margin: 32px 0;
  font-weight: bold;
  text-align: center;
}
footer a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFEFD3;
  margin: 12px auto;
  -webkit-transition: color 0.5s ease-in-out, -webkit-text-decoration 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, -webkit-text-decoration 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, text-decoration 0.5s ease-in-out, -webkit-text-decoration 0.5s ease-in-out;
}
footer a:hover {
  color: #FFC49B;
  text-decoration: underline;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-transition: none;
    transition: none;
    -webkit-transform: scale(1);
            transform: scale(1);
    scroll-behavior: auto;
  }
}