:root {
    --background-color: #001B2E;
    --text-color: #FFFDED;
    --nav-links-color: #294C60;
    --lighter-nav-links-color: #3D6B85;
    --link-color: #FFEFD3;
    --secondary-link-color: #FFC49D;
    --background-btn-color: #FFEFD3;
    --button-text-color: #252422;
    --button-border-color: #2F2D2E;
    --selector-color: #ADB6C4;
    --button-box-shadow: 8px 8px 0 #E1DCD3;
    --nav-links-box-shadow: 8px 8px 0 #3D6B85;
}