:root {
    --background-color: #001B2E;
    --text-color: #FFFDED;
    --nav-links-color: #294C60;
    --lighter-nav-links-color: #3d6b85;
    --link-color: #FFEFD3;
    --secondary-link-color: #FFC49D;
    --background-btn-color: #FFEFD3;
    --button-text-color: #252422;
    --button-border-color: #2F2D2E;
    --selector-color: #ADB6C4;
}