// Main colors for the project
$backgroundColor: #001B2E; /* Background color for the main container */
$textColor: #FFFDED; /* Primary text color */
$navLinksColor: #294C60; /* Color for navigations links */

//Links color
$linkColor: #FFEFD3; /* Default color for links (link and visited) */
$secondLinkColor: #FFC49B; /* Link color for hover and actived  */

// Color palette for buttons
$backgroundBtnColor: #FFEFD3; /* Background color for buttons */
$buttonTextColor: #252422; /* Text color for buttons */
$borderBtnColor: #2F2D2E; /* Border color for buttons */

//Accent color
$selectorColor: #ADB6C4; /* Color for selectors */